@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

/* btn
----------------------------------------------------------------------------------------------- */

.c-btn {
    display: inline-block;
    width: auto;

    p:not([class]) {
        display: none;
    }
}

.c-btn__text {
    font-weight: 700;
    font-size: 1.6rem;
    position: relative;
    z-index: 5;
    white-space: nowrap;
}

/*btn01*/
.c-btn01 {
    height: 50px;

    .c-btn01__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 30px;
        outline: 2px solid rgba(255, 255, 255, 0);
        outline-offset: -2px;
        color: #fff;
        padding: 12px 50px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        background-color: var(--main_color);
        transition: background .3s ease-out,
            color .3s ease-out,
            outline .1s ease;

        &:hover {
            background-color: transparent;
            outline: 2px solid var(--main_color);
            outline-offset: -2px;
            background-color: #fff;
            color: var(--main_color);
            transition: background .3s ease-out,
                color .3s ease-out,
                outline .1s ease;
        }
    }

    .c-btn__icon {
        display: none;
    }
}

/*btn02*/
.c-btn02 {
    height: 50px;

    .c-btn02__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 30px;
        border: 2px solid;
        border-color: var(--main_color);
        color: var(--main_color);
        background-color: #fff;
        padding: 12px 50px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 50px;

        &:hover {
            border-color: var(--main_color);
            background-color: var(--main_color);
            color: #ffffff;
            transition: all .3s ease-out;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }

    .c-btn__icon {
        display: none;
    }
}

/*btn03*/
.c-btn03 {
    height: 80px;

    .c-btn03__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 230px;
        border-radius: 40px;
        outline: 2px solid rgba(255, 255, 255, 0);
        outline-offset: -2px;
        background-color: var(--main_color);
        color: #ffffff;
        padding: 12px 12px 12px 30px;
        line-height: 1;
        text-align: center;
        gap: 50px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: color .3s ease-out,
            outline .1s ease-out;

        &::before {
            background-color: var(--sub_color);
            width: 200%;
            height: 200%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-120%, -25%) skewX(-45deg);
            transition: all .3s ease-out;
        }

        &:hover {
            color: var(--text_color);
            transition: color .3s ease-out,
                outline .1s ease-out .3s;

            outline: 2px solid var(--sub_color);

            &::before {
                transform: translate(-20%, -25%) skewX(-45deg);
                transition: all .3s ease-out;
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }
}

/*btn04*/
.c-btn04 {
    height: 80px;

    .c-btn04__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 230px;
        border-radius: 40px;
        outline: 2px solid var(--sub_color);
        outline-offset: -2px;
        background-color: var(--sub_color);
        color: var(--text_color);
        padding: 12px 12px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 50px;
        position: relative;
        overflow: hidden;

        &::before {
            background-color: var(--sub_color);
            width: 200%;
            height: 200%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-20%, -25%) skewX(-45deg);
            transition: all .3s ease-out;
        }

        &:hover {
            background-color: var(--main_color);
            color: #fff;
            transition: all .3s ease-out;
            outline: 2px solid rgba(255, 255, 255, 0);
            transition: color .3s ease-out,
                outline .1s ease-out;

            &::before {
                transform: translate(120%, -25%) skewX(-45deg);
                transition: all .3s ease-out;
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        gap: 15px;
    }
}

/*btn05*/
.c-btn05 {
    height: 70px;
    margin-top: 10px;

    .c-btn05__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 230px;
        border-radius: 40px;
        border: 2px solid;
        border-color: var(--text_color);
        color: var(--text_color);
        padding: 12px 12px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 50px;

        &:hover {
            color: var(--main_color);
            border-color: var(--main_color);
            transition: all .3s ease-out;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }
}

/*btn06*/
.c-btn06 {
    height: 50px;

    .c-btn06__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 30px;
        // border: 2px solid;
        // border-color: var(--main_color);
        color: #fff;
        padding: 12px 25px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 50px;
        background-color: var(--main_color);

        &:hover {
            background-color: transparent;
            color: var(--main_color);
            transition: all .3s ease-out;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }

}


/*btn07*/
.c-btn07 {
    height: 50px;

    .c-btn07__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 30px;
        color: var(--main_color);
        padding: 12px 25px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 70px;
        background-color: var(--sub_color);

        .c-btn__text07 {
            font-size: 80%;
        }

        &:hover {
            background-color: var(--main_color);
            color: #fff;
            transition: all .3s ease-out;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }
}

/*btn08*/
.c-btn08 {
    height: 50px;

    .c-btn08__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 50px;
        color: #fff;
        padding: 12px 20px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 100px;
        background-color: var(--main_color);
        position: relative;
        overflow: hidden;

        .c-btn__text08 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;

            &::after {
                content: '詳しく見る';
                font-size: 70%;
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-110%);
            transition: all .3s;
            z-index: 2;
        }

        &:hover {
            background-color: var(--sub_color);
            color: var(--main_color);
            transition: all .3s ease-out;

            &::before {
                transition: all .3s;
                transform: translateX(0);
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }
}


/*btn09*/
.c-btn09 {
    height: 50px;

    .c-btn09__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 8px;
        color: #fff;
        padding: 12px 12px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 70px;
        background-color: var(--main_color);

        .c-btn__text09 {
            font-size: 80%;
        }

        &:hover {
            background-color: var(--sub_color);
            color: var(--main_color);
            transition: all .3s ease-out;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }
}


/*btn10*/
.c-btn10 {
    height: 50px;

    .c-btn10__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        min-width: 180px;
        border-radius: 0 2px 2px 0;
        color: var(--text_color);
        padding: 12px 12px 12px 30px;
        line-height: 1;
        text-align: center;
        transition: all .3s ease-out;
        gap: 70px;
        background-color: var(--sub_color);
        border-left: 5px solid var(--main_color);

        .c-btn__text10 {
            font-size: 80%;
        }

        &:hover {
            opacity: 0.6;
            transition: opacity .3s ease-out;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 15px;
        }
    }
}


.header {
    .c-btn01 {
        .c-btn01__link {
            color: var(--header_btn_text_color);
            background: var(--header_btn_bg_color);
            transition: background .3s ease-out,
                color .3s ease-out,
                outline .1s ease;

            &:hover {
                outline: 2px solid var(--header_btn_bg_color);
                background: #fff !important;
                color: var(--header_btn_bg_color);

                transition: background .3s ease-out,
                    color .3s ease-out,
                    outline .1s ease;
            }
        }
    }

    .c-btn01.btn--second {
        margin-left: 5px;

        .c-btn01__link {
            color: var(--header_btn_sub_text_color);
            background: var(--header_btn_sub_bg_color);
            transition: background .3s ease-out,
                color .3s ease-out,
                outline .1s ease;

            &:hover {
                outline: 2px solid var(--header_btn_sub_bg_color);
                background: #fff !important;
                color: var(--header_btn_sub_bg_color);

                transition: background .3s ease-out,
                    color .3s ease-out,
                    outline .1s ease;
            }
        }
    }

    .c-btn02 {

        .c-btn02__link {
            border-color: var(--header_btn_text_color);
            color: var(--header_btn_text_color);
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                transition: opacity .5s ease;
            }

            &:hover {
                border-color: var(--header_btn_text_color);
                color: #fff;

                &::before {
                    opacity: 0;
                    transition: opacity .5s ease;
                }
            }
        }
    }

    .c-btn03 {
        .c-btn03__link {
            color: var(--header_btn_text_color);

            .c-btn__icon01 {
                &::before {
                    background-color: var(--header_btn_bg_color);
                }

                &::after {
                    border-color: var(--header_btn_bg_color);
                }
            }

            .c-btn__icon02,
            .c-btn__icon04 {
                background-color: var(--header_btn_text_color);

                &::before {
                    background-color: var(--header_btn_bg_color);
                }
            }

            &:hover {
                color: var(--header_btn_bg_color);

                .c-btn__icon01 {
                    background-color: var(--header_btn_bg_color);

                    &::before {
                        background-color: var(--header_btn_text_color);
                    }

                    &::after {
                        border-color: var(--header_btn_text_color);
                    }
                }

                .c-btn__icon02,
                .c-btn__icon04 {
                    background-color: var(--header_btn_bg_color);

                    &::before {
                        background-color: var(--header_btn_text_color);
                    }
                }

                .c-btn__icon03 {
                    &::before {
                        border-color: var(--header_btn_bg_color);
                    }
                }

                .c-btn__icon05 {
                    &::before {
                        background-color: var(--header_btn_bg_color);
                    }

                    &::after {
                        border-color: var(--header_btn_bg_color);
                    }
                }

                .c-btn__icon06 {
                    &::before {
                        background-color: var(--header_btn_bg_color);
                    }

                    &::after {
                        border-color: var(--header_btn_bg_color);
                    }
                }
            }
        }
    }

    .c-btn05 {
        .c-btn05__link {
            border-color: var(--header_btn_text_color);
            color: var(--header_btn_text_color);
        }
    }

    .c-btn06 {
        .c-btn06__link {
            color: var(--header_btn_text_color);
        }
    }
}

.hm__btn {}

.hm__btn__link {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    line-height: 50px;
}

.hm__btn.hm__btn--first {
    .hm__btn__link {
        border-radius: var(--hm_btn_radius);
        background-color: var(--hm_btn_bg_color);
        color: var(--hm_btn_text_color);
        outline: 1px solid var(--hm_btn_border);
        outline-offset: -1px;

        &:hover {
            background-color: var(--hm_btn_text_color);
            color: var(--hm_btn_bg_color);
            outline: 1px solid var(--hm_btn_bg_color);
            outline-offset: -1px;
        }
    }
}

.hm__btn.hm__btn--second {
    .hm__btn__link {
        border-radius: var(--hm_btn_sub_radius);
        background-color: var(--hm_btn_sub_bg_color);
        color: var(--hm_btn_sub_text_color);
        outline: 1px solid var(--hm_btn_sub_border);
        outline-offset: -1px;

        &:hover {
            background-color: var(--hm_btn_sub_text_color);
            color: var(--hm_btn_sub_bg_color);
            outline: 1px solid var(--hm_btn_sub_bg_color);
            outline-offset: -1px;
        }
    }
}


.footer {
    .c-btn01 {
        .c-btn01__link {
            color: var(--footer_first_btn_text_color);
            background: var(--footer_first_btn_bg_color);
            transition: background .3s ease-out,
                color .3s ease-out,
                outline .1s ease;

            &:hover {
                outline: 2px solid var(--footer_first_btn_bg_color);
                background: #fff !important;
                color: var(--footer_first_btn_bg_color);

                transition: background .3s ease-out,
                    color .3s ease-out,
                    outline .1s ease;
            }
        }
    }

    .c-btn01.btn--second {
        margin-left: 5px;

        .c-btn01__link {
            color: var(--footer_second_btn_text_color);
            background: var(--footer_second_btn_bg_color);
            transition: background .3s ease-out,
                color .3s ease-out,
                outline .1s ease;

            &:hover {
                outline: 2px solid var(--footer_second_btn_bg_color);
                background: #fff !important;
                color: var(--footer_second_btn_bg_color);

                transition: background .3s ease-out,
                    color .3s ease-out,
                    outline .1s ease;
            }
        }
    }

    .c-btn02 {

        .c-btn02__link {
            border-color: var(--footer_first_btn_text_color);
            color: var(--footer_first_btn_text_color);
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                transition: opacity .5s ease;
            }

            &:hover {
                border-color: var(--footer_first_btn_text_color);
                color: #fff;

                &::before {
                    opacity: 0;
                    transition: opacity .5s ease;
                }
            }
        }
    }

    .c-btn03 {
        .c-btn03__link {
            color: var(--footer_first_btn_text_color);
            background-color: var(--footer_first_btn_bg_color);

            .c-btn__icon01 {
                &::before {
                    background-color: var(--footer_first_btn_bg_color);
                }

                &::after {
                    border-color: var(--footer_first_btn_bg_color);
                }
            }

            .c-btn__icon02,
            .c-btn__icon04 {
                background-color: var(--footer_first_btn_text_color);

                &::before {
                    background-color: var(--footer_first_btn_bg_color);
                }
            }

            &:hover {
                color: var(--footer_first_btn_bg_color);

                .c-btn__icon01 {
                    background-color: var(--footer_first_btn_bg_color);

                    &::before {
                        background-color: var(--footer_first_btn_text_color);
                    }

                    &::after {
                        border-color: var(--footer_first_btn_text_color);
                    }
                }

                .c-btn__icon02,
                .c-btn__icon04 {
                    background-color: var(--footer_first_btn_bg_color);

                    &::before {
                        background-color: var(--footer_first_btn_text_color);
                    }
                }

                .c-btn__icon03 {
                    &::before {
                        border-color: var(--footer_first_btn_bg_color);
                    }
                }

                .c-btn__icon05 {
                    &::before {
                        background-color: var(--footer_first_btn_bg_color);
                    }

                    &::after {
                        border-color: var(--footer_first_btn_bg_color);
                    }
                }

                .c-btn__icon06 {
                    &::before {
                        background-color: var(--footer_first_btn_bg_color);
                    }

                    &::after {
                        border-color: var(--footer_first_btn_bg_color);
                    }
                }
            }
        }
    }

    .c-btn04 {

        .c-btn04__link {
            background-color: var(--footer_first_btn_bg_color);

            &:hover {
                .c-btn__icon03::before {
                    border-color: #fff;
                }

            }
        }
    }

    .c-btn05 {
        .c-btn05__link {
            border-color: var(--footer_first_btn_text_color);
            color: var(--footer_first_btn_text_color);
        }
    }

    .c-btn06 {
        .c-btn06__link {
            color: var(--footer_first_btn_text_color);
        }
    }
}