@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

/* Follow button
 ----------------------------------------------------------------------------------------------- */
.follow_btn {
    position: fixed;
    z-index: v.getZIndex(followBtn);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    &.is-leftIn {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform .3s ease-in-out,
            opacity .3s ease-in-out;

        &.--active {
            transform: translateX(0);
            opacity: 1;
            transition: transform .3s ease-in-out,
                opacity .3s ease-in-out;
        }
    }

    &.is-rightIn {
        transform: translateX(100%);
        opacity: 0;
        transition: transform .3s ease-in-out,
            opacity .3s ease-in-out;

        &.--active {
            transform: translateX(0);
            opacity: 1;
            transition: transform .3s ease-in-out,
                opacity .3s ease-in-out;
        }
    }

    &.is-topIn {
        transform: translateY(-100%);
        opacity: 0;
        transition: transform .3s ease-in-out,
            opacity .3s ease-in-out;

        &.--active {
            transform: translateY(0);
            opacity: 1;
            transition: transform .3s ease-in-out,
                opacity .3s ease-in-out;
        }
    }

    &.is-bottomIn {
        transform: translateY(100%);
        opacity: 0;
        transition: transform .3s ease-in-out,
            opacity .3s ease-in-out;

        &.--active {
            transform: translateY(0);
            opacity: 1;
            transition: transform .3s ease-in-out,
                opacity .3s ease-in-out;
        }
    }

    &.is-fadeIn {
        opacity: 0;
        transition: opacity .3s ease-in-out;

        &.--active {
            opacity: 1;
            transition: opacity .3s ease-in-out;
        }
    }
}

.follow_btn__link {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.follow_btn__img {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

/* Follow button 01: 右上
 ----------------------------------------------------------------------------------------------- */
.follow_btn01 {
    top: var(--follow_btn_tb);
    right: var(--follow_btn_lr);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}


/* Follow button 02: 右下
 ----------------------------------------------------------------------------------------------- */
.follow_btn02 {
    bottom: var(--follow_btn_tb);
    right: var(--follow_btn_lr);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}


/* Follow button 03: 左上
 ----------------------------------------------------------------------------------------------- */
.follow_btn03 {
    top: var(--follow_btn_tb);
    left: var(--follow_btn_lr);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}


/* Follow button 04: 左下
 ----------------------------------------------------------------------------------------------- */
.follow_btn04 {
    bottom: var(--follow_btn_tb);
    left: var(--follow_btn_lr);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}