@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

/* SP button
----------------------------------------------------------------------------------------------- */
.sp__btn__wrapper {
    width: 100%;
    flex-wrap: nowrap;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    z-index: v.getZIndex(spBtn);
    transition: all .3s;
    transform: translateY(100%);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        display: flex;
    }

    &.--active {
        transform: translateY(0);
    }
}

.sp__btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__wrapper:has(> :nth-child(2):last-child) .sp__btn {
    width: 50%;
}

.sp__btn__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__icon {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

// first
.sp__btn__first {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__first__link {
    height: var(--sp_btn_first_height);
    background: var(--sp_btn_first_bg) no-repeat;
    background-size: var(--sp_btn_first_image_fit);
    background-position: var(--sp_btn_first_image_position);
    border: solid var(--sp_btn_first_border_width) var(--sp_btn_first_border_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__first__icon {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__first__text {
    color: var(--sp_btn_first_text_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

//　 second
.sp__btn__second {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__second__link {
    height: var(--sp_btn_second_height);
    background: var(--sp_btn_second_bg) no-repeat;
    background-size: var(--sp_btn_second_image_fit);
    background-position: var(--sp_btn_second_image_position);
    border: solid var(--sp_btn_second_border_width) var(--sp_btn_second_border_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__second__icon {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.sp__btn__second__text {
    color: var(--sp_btn_second_text_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}