@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

// image-an01 ----------------------------------------------------------------------------------------------- */
.image-an01 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .section-inner {
        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .block-parts {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-image {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}