@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

/* lead-csep00
 ----------------------------------------------------------------------------------------------- */
.lead-csep00 {
    width: 100%;
    overflow: hidden;
    padding: 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .section-inner {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .block-parts {
        display: flex;
        gap: 20px;
        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            flex-direction: column;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-inner {
        position: relative;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-text {
        width: 80%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-title {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include v.titleH3;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-subtitle {
        position: relative;
        z-index: 1;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-content {
        position: relative;
        z-index: 1;
        margin-top: 10px;
        text-align: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-button {
        position: relative;
        z-index: 1;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .parts-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}