@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

/* company02
 ----------------------------------------------------------------------------------------------- */

.section__company02 {
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__company02__inner {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 100px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        width: 100%;
        gap: 60px;
    }

    @include m.mq(tab) {
        flex-direction: column;
        gap: 40px;
    }

    @include m.mq(sp) {
        gap: 30px;
    }
}

.section__company02__block-title {
    color: var(--main_color);
    display: flex;
    align-items: flex-start;
    line-height: 4rem;
    @include v.titleH4;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        line-height: 3.6rem;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__company02 {
    width: 100%;
    border-top: solid 2px var(--main_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__company02 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__dl {
    display: flex;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__company02__dt {
    color: var(--text_color);
    padding: 36px 36px 36px 0;
    width: 20%;
    border-bottom: solid 1px var(--sub_color);
    @include v.titleH7;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding: 30px 30px 30px 0;
        width: 25%;
    }

    @include m.mq(tab) {
        padding: 20px 20px 20px 0;
    }

    @include m.mq(sp) {}
}

.section__parts__company02__dd {
    padding: 36px 0 36px 36px;
    width: 80%;
    border-bottom: solid 1px var(--sub_color);
    display: grid;
    gap: 10px;
    overflow: hidden;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding: 30px 0 30px 30px;
        width: 75%;
        gap: 5px;
    }

    @include m.mq(tab) {
        padding: 20px 0 20px 20px;
        gap: 0px;
    }

    @include m.mq(sp) {}

    iframe {
        width: 100%;
        height: 198px;

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 150px;
            margin-top: 20px;
        }

        @include m.mq(sp) {
            height: 130px;
        }
    }

    img {
        border-radius: 5px;
        width: calc(calc(100% - 10px) / 2);
        height: 150px;
        object-fit: cover;

        &:first-child,
        &:nth-of-type(2) {
            margin-top: 10px;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {

            &:first-child,
            &:nth-of-type(2) {
                margin-top: 10px;
            }
        }

        @include m.mq(tab) {
            height: 92px;
        }

        @include m.mq(sp) {
            width: 100%;
            height: 125px;

            &:first-child {
                margin-top: 10px;
            }

            &:nth-of-type(2) {
                margin-top: 0px;
            }
        }
    }
}