@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


.section__company01,
.section__company02,
.section__company03,
.section__company04 {
    li {
        list-style: inside;
    }

    h3:not([class]) {
        color: var(--main_color);
    }

    p:not([class]) {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            flex-direction: column;
        }
    }

    br:not([class]) {
        display: none;
    }
}



/* company01
 ----------------------------------------------------------------------------------------------- */

.section__company01 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    h2 {
        border: none !important;
        margin-bottom: 0 !important;
    }
}

.section__company01__inner {
    margin: 0 auto;
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__company01__block-title {
    color: var(--main_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__company01 {
    border-top: 2px solid var(--main_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__company01 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__dl {
    display: flex;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__company01__dt {
    color: var(--text_color);
    padding: 40px 40px 40px 0;
    width: 22%;
    border-right: solid 1px var(--sub_color);
    border-bottom: solid 1px var(--sub_color);
    @include v.titleH7;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        width: 31%;
    }

    @include m.mq(tab) {
        width: 33%;
        padding: 30px 30px 30px 0;
    }

    @include m.mq(sp) {
        padding: 20px 20px 20px 0;
    }
}

.section__parts__company01__dd {
    padding: 40px 0 40px 40px;
    width: 78%;
    border-bottom: solid 1px var(--sub_color);
    display: grid;
    gap: 10px;
    overflow: hidden;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        width: 69%;
        gap: 5px;
    }

    @include m.mq(tab) {
        width: 67%;
        gap: 0px;
        padding: 30px 0 30px 30px;
    }

    @include m.mq(sp) {
        padding: 20px 0 20px 20px;
    }

    iframe,
    object,
    embed {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    iframe {
        width: 470px;
        height: 198px;

        @include m.mq(miniPc) {
            width: 100%;
        }

        @include m.mq(tab) {
            height: 150px;
            margin-top: 20px;
        }

        @include m.mq(sp) {
            height: 130px;
        }
    }

    img {
        border-radius: 5px;
        width: 250px;
        height: 150px;
        object-fit: cover;

        &:first-child,
        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin-top: 10px;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: calc(calc(100% - 10px) / 2);

            &:first-child,
            &:nth-of-type(2) {
                margin-top: 10px;
            }

            &:nth-of-type(3) {
                margin-top: 0px;
            }
        }

        @include m.mq(tab) {
            height: 92px;
        }

        @include m.mq(sp) {
            width: 100%;
            height: 125px;

            &:first-child {
                margin-top: 10px;
            }

            &:nth-of-type(2) {
                margin-top: 0px;
            }
        }
    }
}