@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* cta04
 ----------------------------------------------------------------------------------------------- */

.section__cta04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}


    .section__cta04__inner {
        display: grid;
        grid-template-columns: 1fr 690px;
        align-items: stretch;
        width: 1200px;
        height: 100%;
        gap: 50px;

        @include m.mq(pc) {
            width: 1040px;
            grid-template-columns: 1fr 560px;
        }

        @include m.mq(miniPc) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include v.conWidth;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__cta04__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 100%;
            order: 2
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__block__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section__block__title__text {
        @include v.titleH3;
        order: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .section__block__title--subtitle {
        margin-top: 10px;
        order: 2;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 474px;
        }

        @include m.mq(tab) {
            width: 100%;
            margin-top: 5px;
        }

        @include m.mq(sp) {}
    }

    .section__parts__wrapper__cta04 {
        margin-top: 35px;
        gap: 15px;
        display: flex;
        flex-direction: column;

        @include m.mq(pc) {
            margin-top: 30px;
        }

        @include m.mq(miniPc) {
            margin-top: 40px;
        }

        @include m.mq(tab) {
            margin-top: 30px;
        }

        @include m.mq(sp) {}
    }

    .section__parts__cta04 {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__cta04__right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 690px;
        height: 100%;

        @include m.mq(pc) {
            width: 560px;
        }

        @include m.mq(miniPc) {
            width: 100%;
            height: 439px;
            order: 1;
        }

        @include m.mq(tab) {
            height: 222px;
        }

        @include m.mq(sp) {}
    }

    .section__cta04__img {
        width: 100%;
        height: 100%;
        min-height: 439px;
        border-radius: 10px;
        overflow: hidden;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            min-height: 100%;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section__parts__cta04__title {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__parts__cta04__text {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}