@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* design12
 ----------------------------------------------------------------------------------------------- */

.section__design12 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__design12__inner {
    width: 100%;
    padding-inline: 100px;
    @include v.conWidth;

    @include m.mq(pc) {
        padding-inline: 60px;
    }

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        padding-inline: 0;
    }
}

.section__parts__wrapper__design12 {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 60px;

    @include m.mq(pc) {
        gap: 70px 60px;
    }

    @include m.mq(miniPc) {
        gap: 60px 50px;
    }

    @include m.mq(tab) {
        gap: 50px;
        flex-direction: column;
    }

    @include m.mq(sp) {
        gap: 40px;
    }
}

.section__parts__design12 {
    display: flex;
    flex-direction: column;
    width: calc(calc(100% - 60px)/2);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        width: calc(calc(100% - 50px)/2);
    }

    @include m.mq(tab) {
        width: 100%;
    }

    @include m.mq(sp) {}
}

.section__parts__design12__title {
    order: 3;
    font-size: 2.2rem;
    font-weight: 600;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        font-size: 1.8rem;
    }
}

.section__parts__design12__subtitle {
    order: 2;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design12__text {
    order: 4;
    margin-top: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.versatile {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design12__img,
.section__parts__design12__editor {
    order: 1;
    width: 100%;
    aspect-ratio: 620 / 270;
    overflow: hidden;
    max-width: 620px;
    margin-bottom: 30px;
    @include v.borderRadius;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        aspect-ratio: unset;
        height: 200px;
        width: 100%;
        margin-bottom: 20px;
    }

    @include m.mq(tab) {
        aspect-ratio: 1.8 / 1;
        height: auto;
    }

    @include m.mq(sp) {}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p,
    iframe {
        width: 100%;
        height: 100%;
    }
}

.section__parts__design12__link {
    order: 5;
    margin-top: 30px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        margin-top: 20px;
    }
}