@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* design07
 ----------------------------------------------------------------------------------------------- */
.section__design07 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__design07__inner {
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__design07__block-title {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__design07__block-subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__design07 {
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        gap: 80px;
    }

    @include m.mq(tab) {
        gap: 60px;
    }

    @include m.mq(sp) {
        gap: 50px;
    }
}

.section__parts__design07 {
    display: grid;
    gap: 200px;
    grid-template-columns: auto 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "design_left design_img";

    @include m.mq(pc) {
        gap: 150px;
    }

    @include m.mq(miniPc) {
        gap: 80px;
    }

    @include m.mq(tab) {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    @include m.mq(sp) {}

}

.section__parts__design07__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: design_left;
    padding: 200px 0;

    @include m.mq(pc) {
        padding: 180px 0;
    }

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        padding: 0;
        order: 2;
    }

    @include m.mq(sp) {}
}

.section__parts__design07__title {
    grid-area: design_title;
    display: flex;
    align-items: flex-end;
    font-size: calc(var(--font_size_PC) * 2);
    line-height: 1.4;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        font-size: calc(var(--font_size_PC) * 1.8);
    }

    @include m.mq(tab) {
        font-size: calc(var(--font_size_TAB) * 2);
        line-height: 1;
    }

    @include m.mq(sp) {
        font-size: calc(var(--font_size_SP) * 2)
    }
}

.section__parts__design07__subtitle {
    grid-area: design_subtitle;
    font-size: 1.6rem;
    color: var(--base_color);
    margin-top: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design07__text {
    grid-area: design_text;
    padding-top: 20px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        padding-top: 10px;
    }

    @include m.mq(sp) {}
}

.section__parts__design07__text .versatile {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design07__link {
    margin-top: 40px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design07__img {
    grid-area: design_img;
    @include v.borderRadius;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        order: 1;
        aspect-ratio: 1 / 1.3;
    }

    @include m.mq(sp) {}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section__parts__design07__editor {
    grid-area: design_img;
    overflow: hidden;
    @include v.borderRadius;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        order: 1;
        aspect-ratio: 1 / 1.3;
    }

    @include m.mq(sp) {}

    p {
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}