@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* design04
 ----------------------------------------------------------------------------------------------- */

.section__design04 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__design04__inner {
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include v.conWidth;

    @include m.mq(pc) {
        padding-inline: 60px;
    }

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        padding-inline: 0;
    }

    @include m.mq(sp) {}
}

.section__parts__wrapper__design04 {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        gap: 60px;
    }

    @include m.mq(tab) {
        gap: 70px;
    }

    @include m.mq(sp) {}
}

.section__parts__design04 {
    display: grid;
    gap: 30px 40px;
    grid-template-columns: calc(60% - 40px) 40%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "design_title design_img"
        "design_text design_img"
        "design_btn design_img";

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        gap: 20px 30px;
        grid-template-columns: calc(60% - 30px) 40%;
    }

    @include m.mq(tab) {
        gap: 10px;
        @include v.columnFlex;
        align-items: flex-start;
    }

    @include m.mq(sp) {}
}

.section__parts__design04__title {
    grid-area: design_title;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        order: 2;
        margin-top: 20px;
        font-size: 2.2rem;
    }

    @include m.mq(sp) {
        font-size: 2.0rem;
    }
}

.section__parts__design04__subtitle {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design04__text {
    grid-area: design_text;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        order: 3;
    }

    @include m.mq(sp) {}
}

.versatile {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__design04__img {
    grid-area: design_img;
    width: 100%;
    height: 300px;
    overflow: hidden;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        height: 230px;
        order: 1;
    }

    @include m.mq(sp) {
        height: 200px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section__parts__design04__link {
    grid-area: design_btn;
    display: flex;
    align-items: flex-end;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        order: 4;
        margin: 40px auto 0;
    }

    @include m.mq(sp) {}
}