@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* flow04
 ----------------------------------------------------------------------------------------------- */

.section__flow04 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .section__parts__wrapper {
        margin-top: 0;
    }
}

.section__flow04__inner {
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__flow04 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    @include m.mq(pc) {
        gap: 25px;
    }

    @include m.mq(miniPc) {
        gap: 14px;
    }

    @include m.mq(tab) {
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
    }

    @include m.mq(sp) {
        width: 90%;
    }
}

.section__parts__flow04 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--main_color);
    gap: 20px;
    height: 320px;

    @include m.mq(pc) {
        height: 300px;
    }

    @include m.mq(miniPc) {
        padding: 15px;
        height: 280px;
    }

    @include m.mq(tab) {
        flex-direction: row;
        height: auto;
        width: 100%;
        padding: 15px;
    }

    @include m.mq(sp) {}

    &:nth-of-type(7) {
        background-color: #fff;
        border: solid 2px var(--main_color);
        justify-content: center;

        .section__parts__flow04__title,
        .section__parts__flow04__subtitle {
            color: var(--main_color) !important;
        }
    }
}

.section__parts__flow04__title {
    order: 2;
    font-size: 2.0rem;
    color: #fff !important;
    text-align: center;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.2em;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        font-size: 1.8rem;
    }

    @include m.mq(tab) {
        -ms-writing-mode: unset;
        writing-mode: unset;
        font-size: 1.6rem;
    }

    @include m.mq(sp) {
        font-size: 1.5rem;
    }
}

.section__parts__flow04__subtitle {
    font-size: 1.6rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--en_font);
    line-height: 1;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        font-size: 1.5rem;
    }

    @include m.mq(tab) {
        font-size: 1.4rem;
    }

    @include m.mq(sp) {}

}

.section__parts__flow04__text {
    display: none;
}

.section__parts__flow04__img {
    display: none;
}