@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* follow03
 ----------------------------------------------------------------------------------------------- */

.section__follow03 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__follow03__inner {
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__follow03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__follow03 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__follow03__title {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__follow03__subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__follow03__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__follow03__img {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}