@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* lead08
 ----------------------------------------------------------------------------------------------- */
.section__lead08 {
    padding: 0;
    overflow: hidden;
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__lead08__inner {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__lead08__block-title {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__lead08__block-subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__lead08 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        flex-direction: column;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead08 {
    width: calc(calc(100% - 40px) / 3);
    position: relative;
    padding: 220px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include m.mq(pc) {
        padding: 180px 30px;
    }

    @include m.mq(miniPc) {
        width: 100%;
        padding: 80px 30px;
    }

    @include m.mq(tab) {
        width: 100%;
        padding: 86px 30px;
    }

    @include m.mq(sp) {}
}

.section__parts__lead08__title {
    position: relative;
    z-index: 1;
    font-size: calc(var(--font_size_PC) * 2);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        font-size: calc(var(--font_size_TAB) * 2);
    }

    @include m.mq(sp) {
        font-size: calc(var(--font_size_SP) * 2);
    }
}

.section__parts__lead08__subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead08__text {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 20px;
    max-width: 370px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        max-width: 383px;
    }

    @include m.mq(tab) {
        max-width: 333px;
    }

    @include m.mq(sp) {
        max-width: 90%;
    }
}

.versatile {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead08__img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section__parts__lead08__link {
    position: relative;
    z-index: 1;
    margin-top: 30px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead08__link__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead08__link__btn a {
    display: inline-block;
    padding: 0 50px;
    line-height: 40px;
    border-radius: 25px;
    border: 2px solid;
    transition: all .3s;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    &:hover {
        border-color: var(--accent_color);

        .text {
            color: var(--accent_color) !important;
            transition: all .3s;
        }
    }
}