@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;

/* lead02
 ----------------------------------------------------------------------------------------------- */
.section__lead02 {
    overflow: hidden;
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__lead02__inner {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__lead02__block-title {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__lead02__block-subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__lead02 {
    display: flex;
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        flex-direction: column;
    }

    @include m.mq(sp) {}
}

.section__parts__lead02 {
    width: 100%;
    position: relative;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 380px;

    @include m.mq(pc) {
        padding: 0 80px;
    }

    @include m.mq(miniPc) {
        padding: 0 60px;
    }

    @include m.mq(tab) {
        width: 100%;
        height: 300px;
        padding: 150px 30px;
    }

    @include m.mq(sp) {}
}

.section__parts__lead02__title {
    position: relative;
    z-index: 1;
    font-size: calc(var(--font_size_PC) * 2);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        font-size: calc(var(--font_size_TAB) * 2);
    }

    @include m.mq(sp) {
        font-size: calc(var(--font_size_SP) * 2);
    }
}

.section__parts__lead02__subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead02__text {
    position: relative;
    z-index: 1;
    margin-top: 20px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.versatile {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead02__img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        height: 300px;
    }

    @include m.mq(sp) {}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.section__parts__lead02__link {
    position: relative;
    z-index: 1;
    margin-top: 30px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead02__link__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__lead02__link__btn a {
    display: inline-block;
    padding: 0 50px;
    line-height: 40px;
    border-radius: 25px;
    border: 2px solid;
    transition: all .3s;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    &:hover {
        border-color: var(--accent_color);

        .text {
            color: var(--accent_color) !important;
            transition: all .3s;
        }
    }
}