@use "../../foundation/variables" as v;
@use "../../foundation/mixins" as m;


/* tab02
 ----------------------------------------------------------------------------------------------- */

.section__tab02 {
    position: relative;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        overflow: hidden;
    }

    @include m.mq(sp) {}

    // タブ パネル------------------------------------------
    .tab__panels {
        display: flex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            // width: 540px; //右側スクロールの場合
            // margin: 0 auto; //右側スクロールの場合
        }

        @include m.mq(sp) {
            // width: 90%; //右側スクロールの場合
        }
    }

    .tab__panel {
        padding: 10px 20px;
        width: calc(100% / 5);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: calc(var(--font_size_PC) * 1.2);
        font-weight: 700;
        line-height: 1.2;
        border: 1px solid var(--text_color);
        border-bottom: none;
        border-radius: var(--radius_pc) var(--radius_pc) 0 0;
        background-color: var(--base_color);
        white-space: nowrap;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            font-size: calc(var(--font_size_PC) * 1.1);
        }

        @include m.mq(tab) {
            width: calc(100% / 4);
            padding: 5px 10px;
            font-size: calc(var(--font_size_TAB) * 1.2);
        }

        @include m.mq(sp) {
            font-size: calc(var(--font_size_SP) * 1);
            height: 40px;
        }

        &.is-active {
            background-color: #fff;
        }

        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            margin-left: -1px;
        }
    }

    .tab__contents {
        padding: 30px 100px;
        margin-top: 0;
        border: 1px solid var(--text_color);
        margin-top: -1px;
        border-radius: 0 var(--radius_pc) var(--radius_pc) var(--radius_pc);
        background-color: #fff;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            padding: 30px 80px;
        }

        @include m.mq(tab) {
            padding: 20px 40px;
            // width: 540px; //右側スクロールの場合
            // margin: 0 auto; //右側スクロールの場合
        }

        @include m.mq(sp) {
            padding: 20px 30px;
            // width: 90%; //右側スクロールの場合
        }
    }

    .tab__content {
        display: none;
    }

    .tab__content.is-active {
        display: block;
    }
}

.section__tab02__inner {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        max-width: 800px;
    }

    @include m.mq(tab) {
        max-width: 540px;
        // max-width: unset; //右側が画面いっぱいの場合
    }

    @include m.mq(sp) {
        max-width: 90%;
        // max-width: unset; //右側が画面いっぱいの場合
    }
}

.section__tab02__block-title {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__tab02__block-subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__tab02 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__tab02 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__tab02__title {


    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__tab02__subtitle {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__tab02__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        // overflow-x: auto; //右側が画面いっぱいの場合
        /* 横スクロールを許可 */
        // white-space: nowrap; //右側が画面いっぱいの場合
    }

    @include m.mq(sp) {}

    table {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            // min-width: 120%; //右側が画面いっぱいの場合
            // width: 100vw; //右側が画面いっぱいの場合
        }

        @include m.mq(sp) {}
    }
}

.versatile {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__tab02__img {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}