@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;

/* cta
 ----------------------------------------------------------------------------------------------- */

.cta__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.cta {
    @include v.conWidth;
}


/*  -----------------------------------------------------------------------------------------------
    cms01
 ----------------------------------------------------------------------------------------------- */

.section__cta01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta01__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding: 40px 0;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding: 0;
    }
}

.section__cta01__block-title {
    @include v.titleH2;
    /*font-size: calc(var(--font_size_PC) * 2);*/

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta01__block-subtitle {
    width: 100%;
    margin-top: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        width: 540px;
    }

    @include m.mq(sp) {
        width: 90vw;
    }
}

.section__parts__wrapper__cta01 {
    margin-top: 60px;
    display: flex;
    gap: 20px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        flex-direction: column;
        gap: 15px;
    }
}

.section__parts__cta01 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta01__title {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta01__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__link__btn {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}


/*  -----------------------------------------------------------------------------------------------
    cms02
 ----------------------------------------------------------------------------------------------- */
.section__cta02 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta02__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 700px 0 30px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding: 720px 0 50px;
    }

    @include m.mq(tab) {
        padding: 300px 0 0;
    }

    @include m.mq(sp) {
        padding: 290px 0 0;
    }
}

.section__cta02__block-title {
    @include v.titleH3;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta02__block-subtitle {
    width: 50%;
    margin-top: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        width: 540px;
    }

    @include m.mq(sp) {
        width: 90vw;
    }
}

.section__parts__wrapper__cta02 {
    margin-top: 45px;
    display: flex;
    gap: 20px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        flex-direction: column;
        gap: 15px;
    }

    @include m.mq(sp) {}
}

.section__parts__cta02 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta02__title {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta02__text {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__link__btn {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}


/*  -----------------------------------------------------------------------------------------------
    cms03
 ----------------------------------------------------------------------------------------------- */
.section__cta03 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta03__inner {
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta03__block-title {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__cta03__block-subtitle {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__wrapper__cta03 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta03 {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta03__title {
    flex: 0 0 140px;
    z-index: 100;
    padding: 60px 30px 0;
    line-height: 5rem;
    @include v.titleH3;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        flex: 0 0 130px;
        padding: 50px 30px 0;
    }

    @include m.mq(tab) {
        flex: 0 0 100px;
        padding: 40px 30px 0;
    }

    @include m.mq(sp) {}
}

.section__parts__cta03__text {
    flex: 1 1 auto;
    z-index: 100;
    padding: 0 30px 60px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        padding: 0 30px 50px;
    }

    @include m.mq(sp) {}
}

.section__parts__cta03__link {
    flex: 0 0 130px;
    z-index: 100;
    padding: 0 30px 50px;
    display: flex;
    align-items: center;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        flex: 0 0 120px;
        padding: 0 30px 40px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.section__parts__cta03__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*  -----------------------------------------------------------------------------------------------
    cms04
 ----------------------------------------------------------------------------------------------- */

.section__cta04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}


    .section__cta04__inner {
        display: grid;
        grid-template-columns: 1fr 690px;
        align-items: stretch;
        width: 1200px;
        height: 100%;
        gap: 50px;

        @include m.mq(pc) {
            width: 1040px;
            grid-template-columns: 1fr 560px;
        }

        @include m.mq(miniPc) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include v.conWidth;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__cta04__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 100%;
            order: 2
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__block__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section__block__title__text {
        @include v.titleH3;
        order: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .section__block__title--subtitle {
        margin-top: 10px;
        order: 2;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 474px;
        }

        @include m.mq(tab) {
            width: 100%;
            margin-top: 5px;
        }

        @include m.mq(sp) {}
    }

    .section__parts__wrapper__cta04 {
        margin-top: 35px;
        gap: 15px;
        display: flex;
        flex-direction: column;

        @include m.mq(pc) {
            margin-top: 30px;
        }

        @include m.mq(miniPc) {
            margin-top: 40px;
        }

        @include m.mq(tab) {
            margin-top: 30px;
        }

        @include m.mq(sp) {}
    }

    .section__parts__cta04 {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__cta04__right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 690px;
        height: 100%;

        @include m.mq(pc) {
            width: 560px;
        }

        @include m.mq(miniPc) {
            width: 100%;
            height: 439px;
            order: 1;
        }

        @include m.mq(tab) {
            height: 222px;
        }

        @include m.mq(sp) {}
    }

    .section__cta04__img {
        width: 100%;
        height: 100%;
        min-height: 439px;
        border-radius: 10px;
        overflow: hidden;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            min-height: 100%;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section__parts__cta04__title {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .section__parts__cta04__text {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}