@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;


.ctaForm {
    @include v.defaultText;
    background-color: v.$accent_color;

    /*後で消す*/
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: v.$bg_color;

    @include m.mq(miniPc) {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        font-size: 1.2rem;
    }

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm__wrapper {
    width: 800px;
    margin: 0 auto;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        @include v.conWidth;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

span {
    margin-right: 2px;
}

select,
input {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        padding: 10px 20px;
    }

    @include m.mq(sp) {}
}



/* ctaForm01
 ----------------------------------------------------------------------------------------------- */

.ctaForm01 {
    padding-bottom: 60px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding-bottom: 40px;
    }
}

.ctaForm01__wrapper {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm01__img {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm01__title {
    margin-bottom: 70px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        margin-bottom: 60px;
    }

    @include m.mq(sp) {
        margin-bottom: 30px;
    }
}

.ctaForm01__title--main {
    @include v.itemTitle;
    color: v.$main_color;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm01__note {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm01__form {
    margin-top: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        margin-top: 15px;
    }

    @include m.mq(sp) {
        margin-top: 10px;
    }
}

.ctaForm01__form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm01__form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        gap: 10px;
    }

    .form-group__title {
        display: flex;
        gap: 20px;
        color: v.$bg_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            gap: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .form-group__contents {
        display: inline-flex;
        gap: 15px 20px;
        flex-wrap: wrap;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            gap: 10px 20px;
        }

        @include m.mq(sp) {}
    }
}

.pull-down01 {
    select {
        height: 100px;
        border-radius: 20px;
        appearance: none;
        background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/ctaForm/form_arrow.svg);
        background-repeat: no-repeat;
        background-size: 10px 5px;
        background-position: right 23px center;
        outline: none;
        border: none;
        cursor: pointer;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 75px;
            border-radius: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 60px;
            border-radius: 10px;
        }

        &:focus,
        &:active {
            background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/ctaForm/form_arrow.svg);
            background-repeat: no-repeat;
            background-size: 10px 5px;
            background-position: right 23px center;
            outline: none;
        }
    }

    label {
        display: none;
    }
}


.date01 {
    input {
        height: 100px;
        border-radius: 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 75px;
            border-radius: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 60px;
            border-radius: 10px;
        }
    }

    label {
        display: none;
    }
}

.checkbox01 {
    padding: 15px 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding: 10px 0;
    }

    .form-group__contents {
        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox]:checked+.checkbox01__label::after {
            opacity: 1;
        }
    }
}

.checkbox01__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        background: #fff;
        border: 1px solid v.$bg_color;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 15px;
            height: 15px;
            left: 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    &::after {
        border-right: 3px solid v.$bg_color;
        border-bottom: 3px solid v.$bg_color;
        content: '';
        display: block;
        height: 14px;
        left: 11px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 9px;

        @include m.mq(sp) {
            width: 7px;
            height: 10px;
            left: 9px;
            margin-top: -8px;
        }
    }
}


.radio01 {
    padding: 15px 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding: 10px 0;
    }

    .form-group__contents {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+.radio01__label::after {
            opacity: 1;
        }
    }
}

.radio01__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        background: #fff;
        border: 1px solid v.$bg_color;
        border-radius: 50%;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 16px;
            height: 16px;
            left: 5px;
            margin-top: -9px;
        }
    }

    &::after {
        background: v.$bg_color;
        border-radius: 50%;
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        left: 9px;
        margin-top: -7px;
        opacity: 0;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 10px;
            height: 10px;
            left: 8px;
            margin-top: -6px;
        }
    }
}

.file-input01 {
    padding: 15px 0 20px;

    @include m.mq(sp) {
        padding: 10px 0 15px;
    }

    input {
        background-color: transparent;
        padding: 0;
        font-size: 1.0rem;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            font-size: 0.8rem;
        }
    }

    ::file-selector-button,
    ::-webkit-file-upload-button {
        background-color: v.$bg_color;
        border: none;
        border-radius: 4px;
        width: 100px;
        height: 20px;
        color: #fff;
        padding: 0;
    }
}

.text-area01 {
    input {
        height: 100px;
        border-radius: 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 75px;
            border-radius: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 60px;
            border-radius: 10px;
        }
    }

    label {
        display: none;
    }
}

.text-area2c01 {

    input {
        height: 100px;
        width: 50%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 75px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 60px;
        }
    }

    .text-area2c01__input {
        display: flex;
        position: relative;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &::after {
            content: "";
            display: inline-block;
            height: 70px;
            width: 1px;
            background-color: v.$base_color;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);

            @include m.mq(pc) {}

            @include m.mq(miniPc) {
                height: 50px;
            }

            @include m.mq(tab) {}

            @include m.mq(sp) {
                height: 40px;
            }
        }
    }

    #text_2c_1 {
        border-radius: 20px 0 0 20px;


        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            border-radius: 15px 0 0 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            border-radius: 10px 0 0 10px;
        }


    }

    #text_2c_2 {
        border-radius: 0 20px 20px 0;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            border-radius: 0 15px 15px 0;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            border-radius: 0 10px 10px 0;
        }
    }

    label {
        display: none;
    }
}

.text-areaL01 {
    textarea {
        height: 400px;
        border-radius: 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 290px;
            border-radius: 15px;
        }

        @include m.mq(tab) {
            height: 382px;
        }

        @include m.mq(sp) {
            height: 300px;
            border-radius: 10px;
        }
    }

    label {
        display: none;
    }
}

.privacy-policy01 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 15px 0 30px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked+.privacy-policy01__label::after {
        opacity: 1;
    }

    a {
        text-decoration: underline;
        color: v.$main_color;
    }
}

.privacy-policy01__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        border: 1px solid v.$bg_color;
        background-color: #fff;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 15px;
            height: 15px;
            left: 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    &::after {
        border-right: 3px solid v.$bg_color;
        border-bottom: 3px solid v.$bg_color;
        content: '';
        display: block;
        height: 14px;
        left: 11px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 9px;

        @include m.mq(sp) {
            width: 7px;
            height: 10px;
            left: 9px;
            margin-top: -8px;
        }
    }
}

.submit-btn {
    margin: 0 auto;
}


/* ctaForm02
 ----------------------------------------------------------------------------------------------- */

.ctaForm02 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    span {
        color: #FF0000;
    }
}

.ctaForm02__wrapper {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm02__img {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm02__title {
    margin-bottom: 70px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        margin-bottom: 60px;
    }

    @include m.mq(sp) {
        margin-bottom: 30px;
    }
}

.ctaForm02__title--main {
    @include v.itemTitle;
    color: v.$main_color;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm02__note {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm02__form {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 30px 50px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding: 40px 15px 20px;
    }
}

.ctaForm02__form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        gap: 30px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        gap: 20px;
    }
}

.ctaForm02__form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .form-group__title {
        display: flex;
        gap: 20px;
        color: v.$bg_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            gap: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .form-group__contents {
        display: inline-flex;
        gap: 15px 20px;
        flex-wrap: wrap;
        margin-top: 10px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            gap: 10px 20px;
        }

        @include m.mq(sp) {
            margin-top: 5px;
        }
    }
}

.pull-down02 {
    select {
        height: 60px;
        border-radius: 5px;
        background-color: v.$accent_color;
        appearance: none;
        background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/ctaForm/form_arrow.svg);
        background-repeat: no-repeat;
        background-size: 10px 5px;
        background-position: right 23px center;
        outline: none;
        border: none;
        cursor: pointer;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 50px;
        }

        @include m.mq(sp) {
            height: 40px;
        }

        &:focus,
        &:active {
            background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/ctaForm/form_arrow.svg);
            background-repeat: no-repeat;
            background-size: 10px 5px;
            background-position: right 23px center;
            outline: none;
        }
    }
}

.date02 {
    input {
        height: 60px;
        border-radius: 5px;
        background-color: v.$accent_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 50px;
        }

        @include m.mq(sp) {
            height: 40px;
        }
    }
}

.checkbox02 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .form-group__contents {
        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox]:checked+.checkbox02__label::after {
            opacity: 1;
        }
    }
}

.checkbox02__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        background: v.$accent_color;
        border: 1px solid v.$bg_color;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 15px;
            height: 15px;
            left: 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    &::after {
        border-right: 3px solid v.$bg_color;
        border-bottom: 3px solid v.$bg_color;
        content: '';
        display: block;
        height: 14px;
        left: 11px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 9px;

        @include m.mq(sp) {
            width: 7px;
            height: 10px;
            left: 9px;
            margin-top: -8px;
        }
    }
}

.radio02 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .form-group__contents {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+.radio02__label::after {
            opacity: 1;
        }
    }
}

.radio02__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        background: v.$accent_color;
        border: 1px solid v.$bg_color;
        border-radius: 50%;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 16px;
            height: 16px;
            left: 5px;
            margin-top: -9px;
        }
    }

    &::after {
        background: v.$bg_color;
        border-radius: 50%;
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        left: 9px;
        margin-top: -7px;
        opacity: 0;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 10px;
            height: 10px;
            left: 8px;
            margin-top: -6px;
        }
    }
}

.file-input02 {
    input {
        background-color: transparent;
        padding: 0;
        font-size: 1.0rem;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            font-size: 0.8rem;
        }
    }

    ::file-selector-button,
    ::-webkit-file-upload-button {
        background-color: v.$bg_color;
        border: none;
        border-radius: 4px;
        width: 100px;
        height: 20px;
        color: #fff;
        padding: 0;
    }
}

.text-area02 {
    input {
        height: 60px;
        border-radius: 5px;
        background-color: v.$accent_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 50px;
        }

        @include m.mq(sp) {
            height: 40px;
        }
    }
}

.text-area2c02 {

    input {
        height: 60px;
        width: 50%;
        background-color: v.$accent_color;
        border-radius: 5px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 50px;
        }

        @include m.mq(sp) {
            height: 40px;
        }
    }
}

.text-area2c02__input {
    display: flex;
    gap: 8px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        gap: 6px;
    }

    @include m.mq(sp) {}
}

.text-areaL02 {
    textarea {
        height: 290px;
        background-color: v.$accent_color;
        border-radius: 5px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 400px;
        }

        @include m.mq(sp) {
            height: 300px;
        }
    }
}

.privacy-policy02 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        margin-bottom: 10px;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked+.privacy-policy02__label::after {
        opacity: 1;
    }

    a {
        text-decoration: underline;
        color: v.$main_color;
    }
}

.privacy-policy02__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        border: 1px solid v.$bg_color;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 15px;
            height: 15px;
            left: 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    &::after {
        border-right: 3px solid v.$bg_color;
        border-bottom: 3px solid v.$bg_color;
        content: '';
        display: block;
        height: 14px;
        left: 11px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 9px;

        @include m.mq(sp) {
            width: 7px;
            height: 10px;
            left: 9px;
            margin-top: -8px;
        }
    }
}

.submit-btn {
    margin: 0 auto;
}


/* ctaForm03
 ----------------------------------------------------------------------------------------------- */

.ctaForm03 {
    background-color: #fff;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    span {
        color: #FF0000;
    }

    select,
    input {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            padding: 10px 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

.ctaForm03__wrapper {
    width: 1100px;
    display: grid;
    gap: 20px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 30px auto;
    grid-template-areas:
        "form_img form_title"
        "form_img form_note"
        "form_img form_form";

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        display: flex;
        flex-direction: column;
        width: 540px;
        gap: 0;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        width: 90%;
    }
}

.ctaForm03__img {
    grid-area: form_img;
    width: 525px;
    height: 350px;
    background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/cta/malek-dridi-0F7GRXNOG7g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        width: 100%;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        height: 227px;
    }
}

.ctaForm03__title {
    grid-area: form_title;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding: 40px 0 10px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding: 20px 0 0;
    }
}

.ctaForm03__title--main {
    @include v.itemTitle;
    color: v.$main_color;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm03__note {
    grid-area: form_note;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding-bottom: 20px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        padding-bottom: 10px;
    }
}

.ctaForm03__form {
    grid-area: form_form;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.ctaForm03__form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        gap: 25px;
    }

    @include m.mq(tab) {
        gap: 20px;
    }

    @include m.mq(sp) {
        gap: 15px;
        margin-bottom: 40px;
    }
}

.ctaForm03__form-group {
    display: flex;
    flex-direction: column;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .form-group__title {
        display: flex;
        gap: 20px;
        color: v.$bg_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            gap: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .form-group__contents {
        display: inline-flex;
        gap: 5px 20px;
        flex-wrap: wrap;
        margin-top: 10px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            gap: 0px 20px;
        }

        @include m.mq(sp) {
            margin-top: 5px;
            gap: 5px 20px;
        }
    }
}

.pull-down03 {
    select {
        height: 60px;
        border-radius: 5px;
        background-color: v.$accent_color;
        appearance: none;
        background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/ctaForm/form_arrow.svg);
        background-repeat: no-repeat;
        background-size: 10px 5px;
        background-position: right 23px center;
        outline: none;
        border: none;
        cursor: pointer;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 50px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 40px;
        }

        &:focus,
        &:active {
            background-image: url(file:///C:/Users/teram/Local%20Sites/format/app/public/wp-content/themes/format/assets/images/ctaForm/form_arrow.svg);
            background-repeat: no-repeat;
            background-size: 10px 5px;
            background-position: right 23px center;
            outline: none;
        }
    }
}

.date03 {
    input {
        height: 60px;
        border-radius: 5px;
        background-color: v.$accent_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 50px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 40px;
        }
    }
}

.checkbox03 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .form-group__contents {
        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox]:checked+.checkbox03__label::after {
            opacity: 1;
        }
    }
}

.checkbox03__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        background: v.$accent_color;
        border: 1px solid v.$bg_color;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 15px;
            height: 15px;
            left: 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    &::after {
        border-right: 3px solid v.$bg_color;
        border-bottom: 3px solid v.$bg_color;
        content: '';
        display: block;
        height: 14px;
        left: 11px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 9px;

        @include m.mq(sp) {
            width: 7px;
            height: 10px;
            left: 9px;
            margin-top: -8px;
        }
    }
}

.radio03 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .form-group__contents {
        input[type=radio] {
            display: none;
        }

        input[type=radio]:checked+.radio03__label::after {
            opacity: 1;
        }
    }
}

.radio03__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        background: v.$accent_color;
        border: 1px solid v.$bg_color;
        border-radius: 50%;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 16px;
            height: 16px;
            left: 5px;
            margin-top: -9px;
        }
    }

    &::after {
        background: v.$bg_color;
        border-radius: 50%;
        content: '';
        display: block;
        height: 12px;
        width: 12px;
        left: 9px;
        margin-top: -7px;
        opacity: 0;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 10px;
            height: 10px;
            left: 8px;
            margin-top: -6px;
        }
    }
}

.file-input03 {
    input {
        background-color: transparent;
        padding: 0;
        font-size: 1.0rem;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            font-size: 0.8rem;
        }
    }

    ::file-selector-button,
    ::-webkit-file-upload-button {
        background-color: v.$bg_color;
        border: none;
        border-radius: 4px;
        width: 100px;
        height: 20px;
        color: #fff;
        padding: 0;
    }
}

.text-area03 {
    input {
        height: 60px;
        border-radius: 5px;
        background-color: v.$accent_color;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 50px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 40px;
        }
    }
}

.text-area2c03 {

    input {
        height: 60px;
        width: 50%;
        background-color: v.$accent_color;
        border-radius: 5px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 50px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 40px;
        }
    }
}

.text-area2c03__input {
    display: flex;
    gap: 8px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        gap: 6px;
    }

    @include m.mq(sp) {}
}

.text-areaL03 {
    textarea {
        height: 290px;
        background-color: v.$accent_color;
        border-radius: 5px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            height: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 300px;
        }
    }
}

.privacy-policy03 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        margin-bottom: 10px;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]:checked+.privacy-policy03__label::after {
        opacity: 1;
    }

    a {
        text-decoration: underline;
        color: v.$main_color;
    }
}

.privacy-policy03__label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 33px;
    position: relative;
    width: auto;
    line-height: 2.5rem;

    @include m.mq(miniPc) {
        margin-bottom: 20px;
    }

    @include m.mq(sp) {
        padding: 5px 0 5px 25px;
        line-height: 1.5rem;
    }

    &::before {
        border: 1px solid v.$bg_color;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        left: 5px;
        margin-top: -11px;
        position: absolute;
        top: 50%;

        @include m.mq(sp) {
            width: 15px;
            height: 15px;
            left: 5px;
            margin-top: -9px;
            top: 50%;
        }
    }

    &::after {
        border-right: 3px solid v.$bg_color;
        border-bottom: 3px solid v.$bg_color;
        content: '';
        display: block;
        height: 14px;
        left: 11px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 9px;

        @include m.mq(sp) {
            width: 7px;
            height: 10px;
            left: 9px;
            margin-top: -8px;
        }
    }
}

.submit-btn {
    margin: 0 auto;
}