@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;

/* Header Nav
 ----------------------------------------------------------------------------------------------- */
.header__wrapper__nav {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.header__wrapper__nav--wrapper {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.header__wrapper__nav--wrapper__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        font-weight: 600;
        font-size: 1.8rem;
    }

    &>.nav__link>a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;

        &:hover {
            color: var(--main_color);
        }
    }
}

/*header01*/
.header01 {
    background-color: var(--header_bg_color);
}

.header01__wrapper__nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header01__wrapper__nav--wrapper__list li {
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    margin-right: 30px;

    &:last-child {
        margin-right: 36px;
    }

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}

/*header02*/

.header02__wrapper__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    background-color: var(--accent_color);
    background-color: var(--header_bg_color);
    border-radius: 50px;
    height: 80px;
    padding: 0 32px 0 42px;

    @include m.mq(pc) {
        padding-left: 35px;
    }

    @include m.mq(miniPc) {
        height: 54px;
        width: 54px;
        padding: 0;
    }
}

.header02__wrapper__nav--wrapper__list li {
    display: inline-block;
    margin-right: 30px;

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}

/*header03*/
.header03 {
    padding-top: 0;
    background-color: var(--header_bg_color);
}

.header03__wrapper__nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
}

.header03__wrapper__nav--wrapper {
    @include m.mq(miniPc) {
        display: none;
    }
}

.header03__wrapper__nav--wrapper__list {
    display: flex;
}

.header03__wrapper__nav--wrapper__list li {
    padding: 0 20px;
    width: auto;
    min-width: 150px;
    border: solid 1px;
    border-color: var(--header_text_color);

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(sp) {
        display: none;
    }

    &:not(:last-child) {
        border-right: none;
    }
}

/*header04*/
.header04 {
    background-color: var(--header_bg_color);
}

.header04__wrapper__nav {
    display: flex;
    align-items: center;
    width: calc(100% - 180px);

    @include m.mq(sp) {
        width: calc(100% - 120px);
    }
}

.header04__wrapper__nav--wrapper {
    margin: 0 auto;
}

.header04__wrapper__nav--wrapper__list>li.nav__item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--main_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}

/*header05*/

.header05__wrapper__nav {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 180px);

    @include m.mq(sp) {
        width: calc(100% - 120px);
    }

    @include m.mq(miniPc) {
        margin-left: auto;
    }
}

.header05__wrapper__nav--wrapper {
    margin: 0 auto;
    height: 50px;
    background-color: var(--header_bg_color);
    border-radius: 50px;
    padding: 10px 26px;

    @include m.mq(miniPc) {
        display: none;
    }

}

.header05__wrapper__nav--wrapper__list li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;

    &:last-child {
        margin-right: 0px;
    }

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}

/*header06*/
.header06 {
    background-color: var(--header_bg_color);
}

.header06__wrapper__nav {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% - 180px);

    @include m.mq(sp) {
        width: calc(100% - 120px);
    }
}

.header06__wrapper__nav--wrapper {
    margin: 0 auto;
}

.header06__wrapper__nav--wrapper__list li {
    display: inline-block;
    padding: 23px 20px;
    //width: 150px;
    height: 80px;
    border: solid 1px;
    border-color: var(--header_text_color);
    border-right: none;

    &:last-child {
        border-right: solid 1px var(--header_text_color);
    }

    a {
        color: var(--header_text_color);
        height: 100%;

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}

/*header07*/

.header07__wrapper__nav--left,
.header07__wrapper__nav {
    display: flex;
    align-items: center;

    &>nav li {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
            margin-right: 27px;
        }

        @include m.mq(miniPc) {
            display: none;
        }
    }
}

/*header08*/

.header08__wrapper__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    width: calc(100% - 230px);

    @include m.mq(sp) {
        width: calc(100% - 170px);
    }
}

.header08__wrapper__nav--wrapper__list {
    justify-content: flex-start;

    li {
        display: inline-block;
        margin-right: 30px;
        width: auto;

        &:last-child {
            margin-right: 0px;
        }

        a {
            color: var(--header_text_color);

            &:hover {
                color: var(--accent_color);
            }
        }

        @include m.mq(miniPc) {
            display: none;
        }
    }
}

/*header09*/

.header09__wrapper__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    width: calc(100% - 230px);

    @include m.mq(pc) {
        margin-left: 19px;
        width: calc(100% - 199px);
    }

    @include m.mq(miniPc) {
        justify-content: flex-end;
    }

    @include m.mq(sp) {
        width: calc(100% - 139px);
    }
}

.header09__wrapper__nav--wrapper__list {
    justify-content: flex-start;

    li {
        display: inline-block;
        padding: 23px 20px;
        width: auto;
        height: 80px;
        min-width: 150px;
        border: solid 1px;
        border-color: var(--header_text_color);
        border-right: none;

        &:last-child {
            border-right: solid 1px;
        }

        a {
            color: var(--header_text_color);
            height: 100%;

            &:hover {
                color: var(--accent_color);
            }
        }

        @include m.mq(miniPc) {
            display: none;
        }
    }
}

/*header10*/

.header10__wrapper__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 180px);

    @include m.mq(sp) {
        width: calc(100% - 120px);
    }
}

.header10__wrapper__nav--wrapper__list li {
    display: none;
}

/*header11*/

.header11__wrapper__nav {
    display: flex;
    align-items: center;
    width: calc(100% - 180px);

    @include m.mq(sp) {
        width: calc(100% - 120px);
    }
}

.header11__wrapper__nav--wrapper {
    margin: 0 auto;
}

.header11__wrapper__nav--wrapper__list li {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}

/*header12*/

.header12__wrapper__nav {
    display: flex;
    align-items: center;
    width: calc(100% - 206px);

    @include m.mq(miniPc) {
        width: calc(100% - 180px);
    }

    @include m.mq(sp) {
        width: calc(100% - 120px);
    }
}

.header12__wrapper__nav--wrapper {
    margin: 0 auto;
}

.header12__wrapper__nav--wrapper__list li {
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }

    a {
        color: var(--header_text_color);

        &:hover {
            color: var(--accent_color);
        }
    }

    @include m.mq(miniPc) {
        display: none;
    }
}


/* Mega Menu
 ----------------------------------------------------------------------------------------------- */
.megaMenu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    position: fixed;
    width: 100vw;
    top: 60px;
    left: 0;
    z-index: v.getZIndex(header);

    .custom-sub-menu {
        position: relative;
        background-color: var(--header_bg_color);
        z-index: calc(v.getZIndex(header) - 5);
    }
}

.megaMenu__bg {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    position: fixed;
    width: 100vw;
    height: 100vh;
    filter: blur(3.5px);
    background-color: rgba(0, 0, 0, .3);
    //z-index: calc(v.getZIndex(header) - 10);
    top: 0;
    left: 0;
}