@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;

/* Header
 ----------------------------------------------------------------------------------------------- */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: v.getZIndex(header);

  &.header__underline {
    border-bottom: 1px solid var(--text_color);
  }


  @include m.mq(sp) {
    height: 65px;
  }
}

.header-wrapper {
  width: v.$headerWidth;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  max-width: v.$maxWidth;

  &.header-card {
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
    width: calc(v.$headerWidth + 60px);
    padding: 10px 30px;
    border-radius: var(--card_radius_pc);

    @include m.mq(pc) {
      width: 94%;
    }

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
      border-radius: var(--card_radius_tab);
    }

    @include m.mq(sp) {
      border-radius: var(--card_radius_sp);
      margin-top: 10px;
    }
  }

  .header-btn {
    @include m.mq(miniPc) {
      display: none;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-a-normal00
 ----------------------------------------------------------------------------------------------- */

.header-a-normal00 {
  @include m.mq(miniPc) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-a-base00
 ----------------------------------------------------------------------------------------------- */

.header-a-base00 {
  height: 120px;

  @include m.mq(pc) {}

  @include m.mq(miniPc) {
    height: 80px;
    margin-top: 20px;
  }

  @include m.mq(tab) {}

  @include m.mq(sp) {
    height: 65px;
    margin-top: 15px;
  }

  .header-wrapper {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      padding: 20px 50px;
      background-color: var(--base_color);
      border-radius: 70px;
    }

    @include m.mq(sp) {
      height: 65px;
      padding-inline: 19px;
      border-radius: 50px;
    }
  }

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
      margin: 0 auto;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
      margin: 0;
    }
  }

  .header-nav {
    background-color: var(--base_color);
    border-radius: var(--card_radius_pc);

    @include m.mq(tab) {
      border-radius: var(--card_radius_tab);
    }

    @include m.mq(sp) {
      border-radius: var(--card_radius_sp);
    }
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-a-square00
 ----------------------------------------------------------------------------------------------- */

.header-a-square00 {
  padding-top: 20px;

  @include m.mq(sp) {
    height: 65px;
  }

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
      padding: 30px 16px;
      border: solid 1px;
      border-color: var(--text_color);
      background-color: var(--accent_color);
      border-left: none;
      height: 80px;
      width: 80px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
      height: 65px;
      width: 65px;
      border-left: solid 1px;
      padding: 22.5px 12px;
    }
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-b-normal00
 ----------------------------------------------------------------------------------------------- */

.header-b-normal00 {

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-nav-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-b-base00
 ----------------------------------------------------------------------------------------------- */

.header-b-base00 {
  padding: 15px 0;

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
      margin-left: auto;
      background-color: var(--header_bg_color);
      border-radius: 50px;
      height: 54px;
      width: 54px;
      padding: 18px 12px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }

  .header-nav {
    display: flex;
    justify-content: flex-end;
  }

  .header-nav-wrapper {
    height: 50px;
    background-color: var(--header_bg_color);
    border-radius: var(--card_radius_pc);
    padding: 10px 26px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include m.mq(miniPc) {
      display: none;

      @include m.mq(tab) {
        border-radius: var(--card_radius_tab);
      }

      @include m.mq(sp) {
        border-radius: var(--card_radius_sp);
      }
    }
  }
}


/*  -----------------------------------------------------------------------------------------------
    header-b-square00
 ----------------------------------------------------------------------------------------------- */

.header-b-square00 {

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
      padding: 30px 16px;
      border: solid 1px;
      border-color: var(--text_color);
      background-color: var(--accent_color);
      border-left: none;
      height: 80px;
      width: 80px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
      height: 65px;
      width: 65px;
      border-left: solid 1px;
      padding: 22.5px 12px;
    }
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 180px);

    @include m.mq(sp) {
      width: calc(100% - 120px);
    }
  }

  .header-nav-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-b-logo00
 ----------------------------------------------------------------------------------------------- */

.header-b-logo00 {
  height: 120px;

  @include m.mq(tab) {
    height: 110px;
  }

  @include m.mq(sp) {
    height: 80px;
  }

  .header-wrapper {
    position: relative;
    justify-content: space-between;
  }

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-nav>.c-btn {
    @include m.mq(miniPc) {
      display: none;
    }
  }

  .header-logo {
    height: 80px;
    max-width: 250px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include m.mq(sp) {
      height: 60px;
      max-width: 200px;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-c-normal00
 ----------------------------------------------------------------------------------------------- */

.header-c-normal00 {
  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-nav>.c-btn {
    @include m.mq(miniPc) {
      display: none;
    }
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-c-square00
 ----------------------------------------------------------------------------------------------- */

.header-c-square00 {
  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
      padding: 30px 16px;
      border: solid 1px;
      border-color: var(--text_color);
      background-color: var(--accent_color);
      border-left: none;
      height: 80px;
      width: 80px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
      height: 65px;
      width: 65px;
      border-left: solid 1px;
      padding: 22.5px 12px;
    }
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }

  .header-nav-list {
    li {
      text-align: center;
      vertical-align: middle;
    }
  }
}


/*  -----------------------------------------------------------------------------------------------
    header-d-normal00
 ----------------------------------------------------------------------------------------------- */

.header-d-normal00 {
  .header-btn {
    display: none;
  }

  .hamburger {
    display: flex;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-e-normal00
 ----------------------------------------------------------------------------------------------- */

.header-e-normal00 {
  height: 120px;

  @include m.mq(sp) {
    height: 85px;
  }

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-logo {
    width: 180px;

    @include m.mq(sp) {
      width: 120px;
    }
  }

  .header-wrapper {
    margin: 20px 198px;
    background-color: var(--header_bg_color);
    padding-inline: 30px;
    border-radius: var(--card_radius_pc);
    max-width: v.$pcWidth;
    height: 80px;

    @include m.mq(pc) {
      margin: 20px 0px;
    }

    @include m.mq(miniPc) {
      max-width: v.$miniWidth;
    }

    @include m.mq(tab) {
      padding-inline: 34px;
      max-width: v.$tabWidth;
      border-radius: var(--card_radius_tab);
    }

    @include m.mq(sp) {
      padding-inline: 30px;
      height: 65px;
      margin: 10px 0px;
      max-width: v.$spWidth;
      border-radius: var(--card_radius_sp);
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-e-base00
 ----------------------------------------------------------------------------------------------- */

.header-e-base00 {

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-wrapper {
    margin: 20px auto 0;
    padding-inline: 30px;
    max-width: v.$pcWidth;
    background-color: var(--header_bg_color);
    border-radius: var(--card_radius_pc);

    @include m.mq(miniPc) {
      max-width: v.$miniWidth;
    }

    @include m.mq(tab) {
      max-width: v.$tabWidth;
      border-radius: var(--card_radius_tab);
      padding-inline: 20px;
    }

    @include m.mq(sp) {
      max-width: v.$spWidth;
      border-radius: var(--card_radius_sp);
    }
  }

  .header-logo {
    width: 206px;

    @include m.mq(miniPc) {
      width: 180px;
    }

    @include m.mq(sp) {
      width: 120px;
    }
  }
}

/*  -----------------------------------------------------------------------------------------------
    header-f-square00
 ----------------------------------------------------------------------------------------------- */

.header-f-square00 {
  height: 160px;

  @include m.mq(pc) {}

  @include m.mq(miniPc) {
    height: 80px;
  }

  @include m.mq(tab) {}

  @include m.mq(sp) {
    height: 65px;
  }

  .header-wrapper {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header_logo header_btn"
      "header_nav header_nav";
    gap: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      width: 800px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include m.mq(tab) {
      width: 540px;
    }

    @include m.mq(sp) {
      width: 90%;
    }
  }

  .header-logo {
    grid-area: header_logo;

    @include m.mq(sp) {
      width: 120px;
    }
  }

  .header-btn {
    grid-area: header_btn;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: none;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-nav {
    grid-area: header_nav;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

  }

  .header-nav-wrapper {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: none;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      flex: 1;
      padding: 0 30px;
      position: relative;
      text-align: center;

      &:not(:first-child)::before {
        display: none;
      }

      &::before,
      &::after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--base_color);
        position: absolute;
        top: 0;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  .hamburger {
    display: none;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
      display: flex;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}
  }
}