@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;

/* Hamburger menu
 ----------------------------------------------------------------------------------------------- */

// -----------------------------------------------------------------------------------------------
// default
// -----------------------------------------------------------------------------------------------
#page-hamburger-menu {
    .hm {
        transform: translateX(0);
    }
}

.hm {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: v.getZIndex(hmContent);
    overflow: hidden;
    // display: none;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    /* トランジションを指定 */

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    &.--active {
        opacity: 1;
        pointer-events: initial;

        .hm-img-wrapper {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out,
                transform .2s ease-in-out;
        }

        .hm-content-top {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out .1s,
                transform .2s ease-in-out .1s;
        }

        .hm-banner {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out .1s,
                transform .2s ease-in-out .2s;
        }

        .hm-logo {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out .1s,
                transform .2s ease-in-out .1s;
        }


        .hm-sns {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out .1s,
                transform .2s ease-in-out .1s;
        }

        .hm-btn {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out .1s,
                transform .2s ease-in-out .1s;
        }

        .hm-info {
            color: var(--header_text_color);
            opacity: 1;
            transform: translateY(0);
            transition: opacity .2s ease-in-out .1s,
                transform .2s ease-in-out .1s;

            a {
                color: var(--header_text_color);
            }
        }
    }
}

.hm-nav-wrapper {
    .nav__item {
        a {
            color: var(--main_color);
        }
    }
}

.hm-img-wrapper {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out,
        transform .2s ease-in-out;
    width: calc(100% - 750px);

    @include m.mq(pc) {
        width: calc(100% - 650px);
    }

    @include m.mq(miniPc) {
        width: calc(100% - 540px);
    }

    @include m.mq(tab) {
        width: 100%;
    }

    @include m.mq(sp) {}
}

.hm-content-top {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out .1s,
        transform .2s ease-in-out .1s;
}

.hm-banner {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out .1s,
        transform .2s ease-in-out .4s;
}

.hm-logo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out .1s,
        transform .2s ease-in-out .5s;
}

.hm-sns {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out .1s,
        transform .2s ease-in-out .6s;
}

.hm-btn {
    flex: 1;
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out .1s,
        transform .2s ease-in-out .7s;
}

.hm-info {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .2s ease-in-out .1s,
        transform .2s ease-in-out .8s;
}

.hm-inner {
    display: flex;
    width: 100%;
    height: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-img-wrapper {
    height: 100%;
    position: relative;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

}

.hm-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

}

.hm-content {
    background-color: var(--hm_bg_color);
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    overflow-y: auto;

    @include m.mq(pc) {
        width: 650px;
        padding-top: 80px;
    }

    @include m.mq(miniPc) {
        width: 100%;
        padding-top: 100px;
    }

    @include m.mq(tab) {
        padding-top: 80px;
    }

    @include m.mq(sp) {
        padding-inline: 20px;
    }

}

.hm-content-inner {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {
        height: 100%;
    }

    @include m.mq(sp) {}
}

.hm-content-top {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-nav-list {

    .menu-item-has-children {

        &>a {
            position: relative;
            display: flex;

            &::before,
            &::after {
                grid-area: menu_toggle;
                content: "";
                top: 50%;
                width: 30px;
                height: 2px;
                background-color: var(--header_text_color);
                position: absolute;
                right: 0;
                transition: transform .2s linear;

                @include m.mq(pc) {}

                @include m.mq(miniPc) {}

                @include m.mq(tab) {
                    width: 26px;
                }

                @include m.mq(sp) {}
            }

            &::before {
                transform: rotate(90deg);
            }
        }

        &.--active>a {
            &::before {
                transform: rotate(0);
            }
        }
    }

    .sub-menu {
        grid-area: menu_sub;
        max-height: 0;
        overflow: hidden;
        display: block;
        height: auto;
        position: relative;
        transition: height .2s ease-out,
            padding .2s ease-out;
        padding: 0px;

        &.--active {
            max-height: 100%;
            width: 100%;
            padding: 10px 0px;
            transition: height .2s ease-out,
                padding .2s ease-out;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                padding: 5px 0px;
            }

            @include m.mq(sp) {}
        }

        a {
            color: var(--header_text_color);
            @include v.titleH7;
        }
    }
}

.hm-content-bottom {
    width: 100%;
    padding-bottom: 70px;

    @include m.mq(pc) {
        padding-bottom: 30px;
    }

    @include m.mq(miniPc) {
        padding-bottom: 100px;
    }

    @include m.mq(tab) {
        padding-bottom: 80px;
    }

    @include m.mq(sp) {
        padding-bottom: 60px;
    }
}


.hm-banner {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 10px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        height: auto;
        flex-direction: column;
    }
}

.hm-banner-left {
    flex: 1;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-banner-right {
    flex: 1;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-banner-item {
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    &:hover {
        background-size: 130% !important;
    }
}

.hm-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    transition: all 0.2s ease-in-out;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-banner-link {
    width: 100%;
    height: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    &:hover {
        .hm-banner-bg {
            transform: scale(110%);
        }

        .hm-banner-text {
            background-color: rgba(0, 0, 0, .6);
        }
    }
}

.hm-banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    position: relative;
    z-index: 2;
    transition: all 0.2s ease-in-out;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-logo {
    margin-top: 40px;
    width: 300px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        width: 348px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        width: 50vw;
        min-width: 200px;
    }
}

.hm-external-link {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.hm-sns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 10px;
    justify-content: center;
    height: 50px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        gap: 10px;
        margin-right: 5px;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.hm-sns-link {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    img {
        width: 100%;
        height: 100%;
    }
}

.hm-btn {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        max-width: 200px;
    }
}

.hm-btn--first {
    order: 1;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        width: 100%;
    }
}

.hm-btn--second {
    order: 2;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        width: 100%;
    }
}

.hm-info {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-info-wrapper {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.hm-info-list {
    display: flex;
    gap: 0 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 1.2rem;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        font-size: 1.2rem;
    }
}


// -----------------------------------------------------------------------------------------------
// hmenu-a-photo00
// -----------------------------------------------------------------------------------------------

.hmenu-a-photo00 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}


    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}
    }

    .hm-img-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}
    }

    .hm-img {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            height: 100%;
        }

        @include m.mq(sp) {}
    }

    .hm-content-inner {
        width: 450px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .hm-logo {
            margin-top: 0px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-content-top {
        flex-grow: 2;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content-bottom {
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 50px;
            padding-bottom: 60px;
        }

        @include m.mq(miniPc) {
            margin-top: 80px;
            padding-bottom: 100px;
        }

        @include m.mq(tab) {
            margin-top: 100px;
            padding-bottom: 80px;
        }

        @include m.mq(sp) {
            margin-top: 80px;
        }
    }

    .hm-nav {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            color: var(--header_text_color);
            display: inline-block;
            @include v.titleH6;
        }
    }

    .hm-nav-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include m.mq(pc) {
            gap: 20px;
        }

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            grid-area: menu_main;
            position: relative;
            display: grid;
            grid-template-columns: calc(100% - 30px) 30px;
            grid-template-rows: auto auto;
            grid-template-areas:
                "menu_main menu_toggle"
                "menu_sub menu_sub";
            width: 100%;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}

            .sub-menu {
                grid-area: menu_sub;
                max-height: 0;
                overflow: hidden;
                display: block;
                height: auto;
                position: relative;
                transition: height .2s ease-out,
                    padding .2s ease-out;
                padding: 0px;

                &.--active {
                    max-height: 100%;
                    width: 100%;
                    padding: 10px 0px;
                    transition: height .2s ease-out,
                        padding .2s ease-out;

                    @include m.mq(pc) {}

                    @include m.mq(miniPc) {}

                    @include m.mq(tab) {
                        padding: 5px 0px;
                    }

                    @include m.mq(sp) {}
                }

                a {
                    color: var(--header_text_color);
                    @include v.titleH7;
                }
            }
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;
        margin-top: 30px;

        @include m.mq(pc) {
            margin-top: 20px;
        }

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-external-link {
        display: flex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

// -----------------------------------------------------------------------------------------------
// hmenu-a-shade00
// -----------------------------------------------------------------------------------------------

.hmenu-a-shade00 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .6);
            z-index: -1;
        }
    }

    .hm-img-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}
    }

    .hm-img {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
        }

        @include m.mq(sp) {
            height: 100%;
        }
    }

    .hm-content-inner {
        width: 450px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .hm-logo {
            margin-top: 0px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-content-top {
        flex-grow: 2;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content-bottom {
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 50px;
            padding-bottom: 60px;
        }

        @include m.mq(miniPc) {
            margin-top: 80px;
            padding-bottom: 100px;
        }

        @include m.mq(tab) {
            margin-top: 100px;
            padding-bottom: 80px;
        }

        @include m.mq(sp) {
            margin-top: 80px;
        }
    }

    .hm-nav {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            color: var(--header_text_color);
            display: inline-block;
            @include v.titleH6;
        }
    }

    .hm-nav-list {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include m.mq(pc) {
            gap: 20px;
        }

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}


        &>li {
            grid-area: menu_main;
            position: relative;
            display: grid;
            grid-template-columns: calc(100% - 30px) 30px;
            grid-template-rows: auto auto;
            grid-template-areas:
                "menu_main menu_toggle"
                "menu_sub menu_sub";
            width: 100%;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}

            .sub-menu {
                grid-area: menu_sub;
                max-height: 0;
                overflow: hidden;
                display: block;
                height: auto;
                position: relative;
                transition: height .2s ease-out,
                    padding .2s ease-out;
                padding: 0px;

                &.--active {
                    max-height: 100%;
                    width: 100%;
                    padding: 10px 0px;
                    transition: height .2s ease-out,
                        padding .2s ease-out;

                    @include m.mq(pc) {}

                    @include m.mq(miniPc) {}

                    @include m.mq(tab) {
                        padding: 5px 0px;
                    }

                    @include m.mq(sp) {}
                }

                a {
                    color: var(--header_text_color);
                    @include v.titleH7;
                }
            }
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;
        margin-top: 30px;

        @include m.mq(pc) {
            margin-top: 20px;
        }

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-external-link {
        display: flex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}


// -----------------------------------------------------------------------------------------------
// hmenu-b-photo00
// -----------------------------------------------------------------------------------------------

.hmenu-b-photo00 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}
    }

    .hm-img-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}
    }

    .hm-img {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 100%;
        }
    }

    .hm-content-inner {
        width: 450px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .hm-logo {
            margin-top: 0px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-content-top {
        flex-grow: 2;
        margin-top: 60px;

        @include m.mq(pc) {
            margin-top: 60px;
        }

        @include m.mq(miniPc) {
            margin-top: 80px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 60px;
        }
    }

    .hm-content-bottom {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .hm-external-link {
            margin-top: 60px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-nav {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            padding-top: 0;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            color: var(--header_text_color);
            @include v.titleH6;
        }


    }

    .hm-nav-list {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            padding: 15px 0;

            &:first-child {
                padding-top: 0;
            }

            @include m.mq(pc) {
                padding: 10px 0;

                &:first-child {
                    padding-top: 0;
                }
            }

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;
        margin-top: 15px;

        @include m.mq(pc) {
            margin-top: 10px;
        }

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}


// -----------------------------------------------------------------------------------------------
// hmenu-b-shade00
// -----------------------------------------------------------------------------------------------

.hmenu-b-shade00 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .6);
            z-index: -1;
        }
    }

    .hm-img-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}
    }

    .hm-img {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 100%;
        }
    }

    .hm-content-inner {
        width: 450px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .hm-logo {
            margin-top: 0px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-content-top {
        flex-grow: 2;
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 60px;
        }

        @include m.mq(miniPc) {
            margin-top: 80px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 60px;
        }
    }

    .hm-content-bottom {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .hm-external-link {
            margin-top: 60px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-nav {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            padding-top: 0;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            color: var(--header_text_color);
            @include v.titleH6;
        }


    }

    .hm-nav-list {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            padding: 15px 0;

            &:first-child {
                padding-top: 0;
            }

            @include m.mq(pc) {
                padding: 10px 0;

                &:first-child {
                    padding-top: 0;
                }
            }

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;
        margin-top: 15px;

        @include m.mq(pc) {
            margin-top: 10px;
        }

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}


// -----------------------------------------------------------------------------------------------
// hmenu-c-photo00
// -----------------------------------------------------------------------------------------------
.hmenu-c-photo00 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}
    }

    .hm-content-top {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content-bottom {
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 50px;
            padding-bottom: 60px;
        }

        @include m.mq(miniPc) {
            margin-top: 80px;
            padding-bottom: 100px;
        }

        @include m.mq(tab) {
            margin-top: 100px;
            padding-bottom: 80px;
        }

        @include m.mq(sp) {
            margin-top: 80px;
        }

        .hm-logo {
            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }

        .hm-external-link {

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {
                flex-direction: column;
            }
        }

        .hm-sns {
            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .hm-img-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}
    }

    .hm-img {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {
            padding-top: 100px;
        }

        @include m.mq(miniPc) {
            width: 80%;
        }

        @include m.mq(tab) {
            width: 100%;
        }

        @include m.mq(sp) {}
    }

    .hm-content-inner {
        width: 500px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        gap: 0 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 0 20px;
        }

        a {
            color: var(--header_text_color);
            @include v.titleH6;
        }

        .menu-item-has-children {
            >a {

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        .sub-menu {
            max-height: unset;

            a {
                color: var(--header_text_color);
                @include v.defaultText;
            }
        }
    }

    .hm-nav-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            padding: 20px 0;
            border-bottom: solid 1px;
            border-color: var(--bg_color);

            &:first-child {
                padding-top: 0;
            }

            @include m.mq(pc) {
                padding: 15px 0;
            }

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                padding: 10px 0;
            }

            @include m.mq(sp) {}
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}


// -----------------------------------------------------------------------------------------------
// hmenu-c-shade00
// -----------------------------------------------------------------------------------------------
.hmenu-c-shade00 {
    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            @include v.columnFlex;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .6);
            z-index: -1;
        }
    }

    .hm-content-top {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content-bottom {
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 50px;
            padding-bottom: 60px;
        }

        @include m.mq(miniPc) {
            margin-top: 80px;
            padding-bottom: 100px;
        }

        @include m.mq(tab) {
            margin-top: 100px;
            padding-bottom: 80px;
        }

        @include m.mq(sp) {
            margin-top: 80px;
        }
    }

    .hm-img-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}

    }

    .hm-img {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {
            padding-top: 100px;
        }

        @include m.mq(miniPc) {
            width: 80%;
        }

        @include m.mq(tab) {
            width: 100%;
        }

        @include m.mq(sp) {
            height: 100%;
        }
    }

    .hm-content-inner {
        width: 500px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        gap: 0 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 0 20px;
        }

        a {
            color: var(--header_text_color);
            @include v.titleH6;
        }

        .menu-item-has-children {
            >a {

                &::before,
                &::after {
                    display: none;
                }
            }
        }

        .sub-menu {
            max-height: unset;

            a {
                color: var(--header_text_color);
                @include v.defaultText;
            }
        }
    }

    .hm-nav-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            padding: 20px 0;
            border-bottom: solid 1px;
            border-color: var(--bg_color);

            &:first-child {
                padding-top: 0;
            }

            @include m.mq(pc) {
                padding: 15px 0;
            }

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                padding: 10px 0;
            }

            @include m.mq(sp) {}
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}


// -----------------------------------------------------------------------------------------------
// hmenu-d-photo00
// -----------------------------------------------------------------------------------------------
.hmenu-d-photo00 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .hm-inner {
        display: flex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}
    }

    .hm-content-bottom {
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 60px;
        }

        @include m.mq(miniPc) {
            padding-bottom: 50px;
        }

        @include m.mq(tab) {
            padding-bottom: 80px;
        }

        @include m.mq(sp) {}
    }

    .hm-img-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}

    }

    .hm-img {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            height: 100%;
            padding-top: 80px;
        }

        @include m.mq(sp) {
            padding-inline: 20px;
        }
    }

    .hm-content-inner {
        width: 450px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        gap: 0 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            flex-direction: column;
            padding-top: 0;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            color: var(--header_text_color);
            @include v.titleH6;
        }

        .menu-item-has-children {
            >a {

                &::before,
                &::after {
                    display: none;
                }
            }
        }

    }

    .hm-nav-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            padding: 20px 0;

            &:first-child {
                padding-top: 0;
            }

            @include m.mq(pc) {
                padding: 15px 0;
            }

            @include m.mq(miniPc) {
                &:first-child {
                    padding-top: 15px;
                }
            }

            @include m.mq(tab) {}

            @include m.mq(sp) {
                padding: 10px 0;

                &:first-child {
                    padding-top: 10px;
                }
            }
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            &>li {
                &:first-child {
                    padding-top: 0;
                }
            }
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            flex-direction: column;
            height: auto;
        }

        @include m.mq(sp) {}
    }

    .hm-info {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}



// -----------------------------------------------------------------------------------------------
// hmenu-d-shade00
// -----------------------------------------------------------------------------------------------
.hmenu-d-shade00 {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}


    .hm-inner {
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
        }

        @include m.mq(sp) {}

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .6);
            z-index: -1;
        }
    }

    .hm-content-bottom {
        margin-top: 80px;

        @include m.mq(pc) {
            margin-top: 60px;
        }

        @include m.mq(miniPc) {
            padding-bottom: 50px;
        }

        @include m.mq(tab) {
            padding-bottom: 80px;
        }

        @include m.mq(sp) {}
    }

    .hm-img-wrapper {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: none;
        }

        @include m.mq(sp) {}
    }

    .hm-img {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-content {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 80%;
        }

        @include m.mq(tab) {
            width: 100%;
        }

        @include m.mq(sp) {
            height: 100%;
        }
    }

    .hm-content-inner {
        width: 450px;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 400px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-wrapper {
        display: flex;
        gap: 0 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            flex-direction: column;
            padding-top: 0;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            color: var(--header_text_color);
            @include v.titleH6;
        }

        .menu-item-has-children {
            >a {

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }

    .hm-nav-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &>li {
            padding: 20px 0;

            &:first-child {
                padding-top: 0;
            }

            @include m.mq(pc) {
                padding: 15px 0;
            }

            @include m.mq(miniPc) {
                &:first-child {
                    padding-top: 15px;
                }
            }

            @include m.mq(tab) {}

            @include m.mq(sp) {
                padding: 10px 0;

                &:first-child {
                    padding-top: 10px;
                }
            }
        }
    }

    .hm-nav-list-left {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            &>li {
                &:first-child {
                    padding-top: 0;
                }
            }
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-nav-list-right {
        flex: 1;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-banner {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-wrapper {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .hm-info-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}