@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;

/*最後削除します*/
.page-title-wrapper+.page-title-wrapper {
    margin-top: 100px;
}

/* pageTitle
 ----------------------------------------------------------------------------------------------- */

.page-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}
}

.page-title-feature {
    width: v.$maxWidth;
    margin-left: auto;
    margin-right: auto;

    @include m.mq(pc) {
        width: v.$pcWidth;
    }

    @include m.mq(miniPc) {
        width: v.$miniWidth;
    }

    @include m.mq(tab) {
        width: v.$tabWidth;
    }

    @include m.mq(sp) {
        width: v.$spWidth;
    }
}

.page-title-img {
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}

/*  -----------------------------------------------------------------------------------------------
    title-a-screen00
 ----------------------------------------------------------------------------------------------- */

.title-a-screen00-wrapper {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .title-a-screen00 {
        width: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 243px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 40px;
        margin-bottom: 90px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            margin-top: 150px;
            gap: 10px;
        }

        @include m.mq(tab) {
            margin-bottom: 40px;
        }

        @include m.mq(sp) {
            margin: 110px auto 30px;
        }
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .page-title-img {
        background-size: cover;
        background-position: center;
        height: 460px;
        width: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            aspect-ratio: 849 / 460;
            height: 100%;
        }

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    title-a-contents00
 ----------------------------------------------------------------------------------------------- */

.title-a-contents00-wrapper {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .page-title {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 243px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 40px;
        margin-bottom: 90px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            margin-top: 150px;
            gap: 10px;
        }

        @include m.mq(tab) {
            margin-bottom: 40px;
        }

        @include m.mq(sp) {
            margin: 110px auto 30px;
        }
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .page-title-img {
        background-size: cover;
        background-position: center;
        height: 460px;
        width: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 800px;
        }

        @include m.mq(tab) {
            aspect-ratio: 540 / 460;
            height: 100%;
            width: 540px;
        }

        @include m.mq(sp) {
            width: 90%;
            aspect-ratio: 14 / 13;
            max-height: 400px;
            margin: 0 auto;
        }
    }
}


/*  -----------------------------------------------------------------------------------------------
    title-a-right00
 ----------------------------------------------------------------------------------------------- */

.title-a-right00-wrapper {
    width: 100%;
    overflow-x: hidden;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .title-a-right00 {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 243px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 40px;
        margin-bottom: 90px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            margin-top: 150px;
            gap: 10px;
        }

        @include m.mq(tab) {
            margin-bottom: 40px;
        }

        @include m.mq(sp) {
            margin-top: 110px;
            margin-bottom: 30px;
        }
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .page-title-img {
        background-size: cover;
        background-position: center;
        height: 460px;
        margin-right: calc(50% - 50vw);

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            aspect-ratio: 695 / 460;
            height: 100%;
        }

        @include m.mq(sp) {
            aspect-ratio: 19 / 13;
            margin-right: calc(50% - 50vw);
            margin-left: calc(10% / 2);
        }
    }
}

/*  -----------------------------------------------------------------------------------------------
    title-a-left00
 ----------------------------------------------------------------------------------------------- */

.title-a-left00-wrapper {
    width: 100%;
    overflow-x: hidden;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .title-a-left00 {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 243px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 40px;
        margin-bottom: 90px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            margin-top: 150px;
            gap: 10px;
        }

        @include m.mq(tab) {
            margin-bottom: 40px;
        }

        @include m.mq(sp) {
            margin: 110px auto 30px;
        }
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .page-title-img {

        background-size: cover;
        background-position: center;
        height: 460px;
        margin-left: calc(50% - 50vw);

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            aspect-ratio: 695 / 460;
            height: 100%;
        }

        @include m.mq(sp) {
            aspect-ratio: 19 / 13;
            margin-right: calc(10% / 2);
        }
    }
}

/*  -----------------------------------------------------------------------------------------------
    title-a-photo00
 ----------------------------------------------------------------------------------------------- */

.title-a-photo00-wrapper {
    width: 100%;
    height: 540px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {
        height: 480px;
    }

    .title-a-photo00 {
        width: 100%;
        height: 100%;
        display: grid;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        grid-area: 1 / 1;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 360px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 20px;
        color: v.$White_color;
        margin-bottom: 50px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 10px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .page-title-img {
        grid-area: 1 / 1;
        background-size: cover;
        background-position: center;
        height: 540px;
        width: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 100%;
        }

    }
}

/*  -----------------------------------------------------------------------------------------------
    title-a-top00
 ----------------------------------------------------------------------------------------------- */

.title-a-top00-wrapper {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .title-a-top00 {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        order: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 130px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 30px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            margin-top: 30px;
            gap: 10px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }

    .page-title-img {
        display: flex;
        order: 1;

        background-size: cover;
        background-position: center;
        height: 450px;
        width: 100%;
        //margin: 0 calc(50% - 50vw);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    title-a-text00
 ----------------------------------------------------------------------------------------------- */

.title-a-text00-wrapper {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .title-a-text00 {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 217px auto;
        grid-template-areas:
            "page-title_main page-title_main"
            "page-title_sub page-title_text";
        gap: 40px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            align-items: flex-start;
            margin-top: 130px;
            gap: 10px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 110px;
        }
    }

    .page-title-main {
        grid-area: page-title_main;
        display: flex;
        align-items: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        grid-area: page-title_sub;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {
        @include v.titleH6;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        grid-area: page-title_text;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 20px
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px
        }
    }

    .page-title-img {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    title-b-normal00
 ----------------------------------------------------------------------------------------------- */

.title-b-normal00-wrapper {
    overflow: hidden;
    justify-content: flex-start;

    margin-left: calc(calc(100% - v.$maxWidth) / 2);

    @include m.mq(pc) {
        margin-left: calc(calc(100% - v.$pcWidth) / 2);
    }

    @include m.mq(miniPc) {
        margin-left: calc(calc(100% - v.$miniWidth) / 2);
    }

    @include m.mq(tab) {
        margin-left: 0;
    }

    @include m.mq(sp) {}

    .title-b-normal00 {
        display: flex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            display: inline-block;
        }

        @include m.mq(sp) {}
    }

    .page-title-feature {
        margin-right: 100px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            max-width: 420px;
            margin-right: 80px;
        }

        @include m.mq(tab) {
            max-width: 540px;
            margin: 0 auto;
        }

        @include m.mq(sp) {
            max-width: 90%;
        }
    }

    .page-title-main {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            margin-top: 130px;
        }

        @include m.mq(sp) {}

        &::after {
            content: "";
            display: inline-block;
            width: 80px;
            height: 2px;
            background-color: var(--main_color);
            margin-top: 50px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {
                width: 60px;
            }

            @include m.mq(tab) {
                margin-top: 40px;
            }

            @include m.mq(sp) {
                margin-top: 30px;
            }
        }
    }

    .page-title-text {
        color: var(--main_color);
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {
        margin-top: 56px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            margin-top: 50px;
        }

        @include m.mq(tab) {
            margin-top: 30px;
        }

        @include m.mq(sp) {
            margin-top: 20px
        }
    }

    .page-subtitle-text {
        @include v.titleH5;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        margin-top: 30px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-img {
        height: 560px;
        margin-right: 0;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            margin-top: 60px;
            height: 100%;
            aspect-ratio: 849 / 560;
        }

        @include m.mq(sp) {
            margin-top: 40px;
            aspect-ratio: 599 / 395;
        }

    }
}

/*  -----------------------------------------------------------------------------------------------
    title-c-normal00
 ----------------------------------------------------------------------------------------------- */

.title-c-normal00-wrapper {
    margin-top: 200px;
    margin-bottom: 160px;
    @include v.conWidth;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        margin-top: 180px;
    }

    @include m.mq(tab) {
        margin-top: 160px;
        margin-bottom: 140px;
    }

    @include m.mq(sp) {
        margin-top: 120px;
        margin-bottom: 100px;
    }

    .title-c-normal00 {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        text-align: center;
        display: flex;
        gap: 20px;
        flex-direction: column;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            gap: 10px
        }

        @include m.mq(sp) {
            max-width: unset;
        }
    }

    .page-title-main {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        white-space: nowrap;
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {


        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-img {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    title-c-photo00
 ----------------------------------------------------------------------------------------------- */

.title-c-photo00-wrapper {
    padding-top: 200px;
    padding-bottom: 160px;
    position: relative;
    overflow: hidden;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding-top: 180px;
    }

    @include m.mq(tab) {
        padding-top: 160px;
        padding-bottom: 140px;
    }

    @include m.mq(sp) {
        padding-top: 120px;
        padding-bottom: 100px;
    }

    .title-c-photo00 {
        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-feature {
        text-align: center;
        display: flex;
        gap: 20px;
        flex-direction: column;
        color: #fff;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            gap: 10px
        }

        @include m.mq(sp) {
            max-width: unset;
        }
    }

    .page-title-main {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-text {
        white-space: nowrap;
        @include v.pageTitle;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-subtitle-text {


        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-summary {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .page-title-img {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}