@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;


/*  -----------------------------------------------------------------------------------------------
    cms
 ----------------------------------------------------------------------------------------------- */
.top-cms-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {
        padding: 80px 0;
    }

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .c-btn {
        btn {
            color: var(--text_color);
            border-color: var(--text_color);
        }
    }

    .cat-link,
    .top-cms-post-date {
        font-size: 1.2rem;
    }
}

/*  -----------------------------------------------------------------------------------------------
    news-a-normal00
 ----------------------------------------------------------------------------------------------- */
.news-a-normal00-wrapper {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-a-normal00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 300px calc(100% - calc(300px + 30px));
        grid-template-rows: auto 300px 100px auto;
        grid-template-areas:
            "cms_title cms_title"
            "cms_cat cms_list"
            "cms_link cms_list"
            "cms_link cms_list";

        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            grid-template-columns: 250px calc(100% - calc(250px + 30px));
            grid-template-rows: auto 250px 100px auto;
        }

        @include m.mq(tab) {
            @include v.columnFlex;
            gap: 20px;
        }

        @include m.mq(sp) {}
    }

    .top-cms-title {
        grid-area: cms_title;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            order: 1;
            width: 100%;
        }

        @include m.mq(sp) {}
    }

    .top-cms-cat {
        grid-area: cms_cat;
        padding-top: 10px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            order: 2;
        }

        @include m.mq(sp) {}
    }

    .top-cms-cat-list {

        a {
            display: block;
            position: relative;
            padding-left: 20px;

            &.--active {
                color: var(--main_color);

                &::before {
                    content: "●";
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: flex-start;

            a {
                color: var(--base_color);
                display: block;
                padding: 0 20px;
                border: 1px solid var(--base_color);
                border-radius: 20px;

                &.--active {
                    color: #fff;
                    background-color: var(--main_color);
                    border: 1px solid var(--main_color);

                    &::before {
                        display: none;
                    }
                }
            }
        }

        @include m.mq(sp) {}

        .children {
            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                margin-top: 10px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }

            @include m.mq(sp) {}
        }
    }

    .top-cms-link {
        grid-area: cms_link;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            order: 4;
        }

        @include m.mq(sp) {}
    }

    .top-cms-content {
        grid-area: cms_list;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            order: 3;
            border-top: 1px solid var(--base_color);
            width: 100%;
            margin-bottom: 20px;
        }

        @include m.mq(sp) {}
    }

    .top-cms-list {
        border-bottom: 1px solid var(--base_color);
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            order: 3;
            border-top: 1px solid var(--base_color);
        }

        @include m.mq(sp) {}

        &.--active {
            @include v.columnFlex;
        }
    }

    .top-cms-post {
        padding: 20px 0;
        width: 100%;
        display: grid;
        gap: 25px 35px;
        grid-template-columns: 260px 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "post__thumbnail post__cat post__date"
            "post__thumbnail post__title post__title";
        align-items: center;

        @include m.mq(pc) {
            grid-template-columns: 230px 1fr 1fr;
            gap: 20px 35px;
        }

        @include m.mq(miniPc) {
            grid-template-columns: 200px 1fr 1fr;
        }

        @include m.mq(tab) {
            gap: 20px 25px;
        }

        @include m.mq(sp) {
            gap: 10px 20px;
            grid-template-columns: 105px 1fr 1fr;
        }

        &+.top-cms-post {
            border-top: 1px solid var(--base_color);
        }

        img {
            transition: all 0.3s;
        }

        &:hover {
            img {
                transition: all 0.3s;
                transform: scale(1.2);
            }

            .top-cms-post-title a {
                transition: all 0.3s;
                color: var(--main_color);
            }
        }
    }

    .top-cms-post-thumbnail {
        grid-area: post__thumbnail;
        width: 100%;
        height: 260px;
        overflow: hidden;
        align-self: center;
        @include v.borderRadius;

        @include m.mq(pc) {
            height: 230px;
        }

        @include m.mq(miniPc) {
            height: 200px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 105px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .top-cms-post-link {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-cat {
        grid-area: post__cat;
        display: flex;
        align-items: flex-end;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            padding: 3px 20px;
            border-radius: 50px;
            background-color: var(--base_color);
            line-height: 1.5;
            font-size: 1.2rem;

            &::after {
                display: none;
            }

            @include m.mq(pc) {}

            @include m.mq(miniPc) {
                padding: 3px 10px;
            }

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .top-cms-post-date {
        grid-area: post__date;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 1.2rem;
        height: 100%;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        grid-area: post__title;
        height: 100%;
        align-items: flex-start;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {
            margin-top: 10px;
        }
    }
}

/*  -----------------------------------------------------------------------------------------------
    news-a-text00
 ----------------------------------------------------------------------------------------------- */
.news-a-text00-wrapper {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-a-text00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 300px calc(100% - calc(300px + 30px));
        grid-template-rows: auto 300px 100px auto;
        grid-template-areas:
            "cms_title cms_title"
            "cms_cat cms_list"
            "cms_link cms_list"
            "cms_link cms_list";
        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            grid-template-columns: 250px calc(100% - calc(250px + 30px));
            grid-template-rows: auto 250px 100px auto;
        }

        @include m.mq(tab) {
            @include v.columnFlex;
            gap: 20px;
        }

        @include m.mq(sp) {}
    }

    .top-cms-title {
        grid-area: cms_title;
        vertical-align: top;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            order: 1;
            width: 100%;
        }

        @include m.mq(sp) {}
    }

    .top-cms-cat {
        grid-area: cms_cat;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            order: 2;
            padding-top: 0px;
        }

        @include m.mq(sp) {}
    }

    .top-cms-cat-list {

        a {
            display: block;
            position: relative;
            padding-left: 20px;

            &.--active {
                color: var(--main_color);

                &::before {
                    content: "●";
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: flex-start;

            a {
                color: var(--base_color);
                display: block;
                padding: 0 20px;
                border: 1px solid var(--base_color);
                border-radius: 20px;

                &.--active {
                    color: #fff;
                    background-color: var(--main_color);
                    border: 1px solid var(--main_color);

                    &::before {
                        display: none;
                    }
                }
            }
        }

        @include m.mq(sp) {}

        .children {
            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                margin-top: 10px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }

            @include m.mq(sp) {}
        }
    }

    .top-cms-cat-item {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-link {
        grid-area: cms_link;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            order: 4;
        }

        @include m.mq(sp) {}

    }

    .top-cms-content {
        grid-area: cms_list;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            order: 3;
            border-top: 1px solid var(--base_color);
            margin-bottom: 20px;
        }

        @include m.mq(sp) {}
    }

    .top-cms-list {
        border-bottom: 1px solid var(--base_color);
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
            order: 3;
            border-top: 1px solid var(--base_color);
        }

        @include m.mq(sp) {}

        &.--active {
            @include v.columnFlex;
        }
    }

    .top-cms-post {
        padding: 50px 0;
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "post__cat post__date"
            "post__title post__title";

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            padding: 40px 0;
            gap: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            padding: 30px 0;
        }

        &:first-child {
            padding: 10px 0 50px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {
                padding: 0 0 40px;
            }

            @include m.mq(tab) {
                padding: 40px 0;
            }

            @include m.mq(sp) {
                padding: 30px 0;
            }
        }

        &+.top-cms-post {
            border-top: 1px solid var(--base_color);
        }

        &:hover {
            .top-cms-post-title a {
                transition: all 0.3s;
                color: var(--main_color);
            }
        }
    }

    .top-cms-post-thumbnail {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-link {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-cat {
        font-size: 1.2rem;
        font-weight: 700;
        grid-area: post__cat;
        display: flex;
        justify-content: flex-start;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            padding: 3px 28px;
            border-radius: 20px;
            background-color: var(--base_color);

            &::after {
                display: none;
            }
        }
    }

    .top-cms-post-date {
        text-align: end;
        grid-area: post__date;
        display: flex;
        justify-content: flex-end;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        grid-area: post__title;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    news-b-normal00
 ----------------------------------------------------------------------------------------------- */
.news-b-normal00-wrapper {
    width: 100%;
    padding: 80px 0;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .cms-pagination {
        top: auto;
        bottom: -20px;
        height: 5px;
        padding: 0;
    }

    .news-b-normal00 {
        width: 100%;
        gap: 30px;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .swiper {
            width: 100%;
            overflow: visible;
            // padding-right: clamp(100px, 10%, 200px);
            padding-right: 5%;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {
                padding-right: clamp(100px, 16%, 200px);
            }

            @include m.mq(tab) {
                padding-right: 18%;
            }

            @include m.mq(sp) {
                padding-right: 10%;
            }
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .swiper-slide {
            &:not(.swiper-slide-visible) {
                .top-cms-post-link {
                    pointer-events: none;
                    opacity: .3;
                }
            }
        }

        .swiper-scrollbar-drag {
            background-color: #E7A887;
        }

        .swiper-controller {
            position: relative;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: rgba(255, 255, 255, .9);
            box-shadow: 0px 0px 10px var(--sub_color);


            &::after {
                font-size: 2rem;
            }

            @include m.mq(pc) {}

            @include m.mq(tab) {
                width: 40px;
                height: 40px;


                &::after {
                    font-size: 1.5rem;
                }
            }

            @include m.mq(sp) {}

        }

        .swiper-button {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;

            @include m.mq(tab) {
                gap: 10px;
                width: 35%;
            }
        }

        .swiper-scrollbar,
        .swiper-scrollbar {
            width: 75%;
            position: relative;
            bottom: auto;

            @include m.mq(tab) {
                bottom: 0;
                width: 60%;
            }

            @include m.mq(sp) {}
        }
    }

    .top-cms-title {
        width: v.$maxWidth;
        margin-left: calc(calc(100% - v.$maxWidth) / 2);
        margin-bottom: 30px;

        @include m.mq(pc) {
            width: v.$pcWidth;
            margin-left: calc(calc(100% - v.$pcWidth) / 2);
        }

        @include m.mq(miniPc) {
            width: v.$miniWidth;
            margin-left: calc(calc(100% - v.$miniWidth) / 2);
            margin-bottom: 20px;
        }

        @include m.mq(tab) {
            width: v.$tabWidth;
            margin: 0 auto 10px;
        }

        @include m.mq(sp) {
            width: v.$spWidth;
        }
    }

    .top-cms-content {
        position: relative;
        width: calc(100% - calc(calc(100% - v.$maxWidth) / 2)); //calc(100% - calc(calc(100% - v.$maxWidth) / 2));
        margin-left: calc(calc(100% - v.$maxWidth) / 2);
        margin-bottom: 80px;

        @include m.mq(pc) {
            width: calc(100% - calc(calc(100% - v.$pcWidth) / 2)); //calc(100% - calc(calc(100% - v.$maxWidth) / 2));
            margin-left: calc(calc(100% - v.$pcWidth) / 2);
        }

        @include m.mq(miniPc) {
            width: calc(v.$miniWidth + calc(100% - v.$miniWidth));
            margin-left: calc(calc(100% - v.$miniWidth) / 2);
        }

        @include m.mq(tab) {
            width: calc(v.$tabWidth + calc(100% - v.$tabWidth));
            margin-left: calc(calc(100% - v.$tabWidth) / 2);
        }

        @include m.mq(sp) {
            width: 100%;
            margin: 0 0 80px calc(calc(100% - v.$spWidth) / 2);
        }
    }

    .top-cms-post-footer {
        gap: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px 20px 20px;
        order: 3;
        flex-wrap: wrap;
    }

    .top-cms-link {
        margin-left: calc(calc(100% - v.$maxWidth) / 2);

        @include m.mq(pc) {
            margin-left: calc(calc(100% - v.$pcWidth) / 2);
        }

        @include m.mq(miniPc) {
            margin-left: calc(calc(100% - v.$miniWidth) / 2);
        }

        @include m.mq(tab) {
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }

        @include m.mq(sp) {}
    }

    .top-cms-post {
        padding: 0;
        background-color: var(--base_color);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        border: solid 1px;
        border-color: rgba(255, 255, 255, 0);
        display: flex;
        flex-direction: column;

        &.swiper-slide {
            height: auto;
        }

        &:hover {
            .top-cms-post-thumbnail {
                img {
                    transform: scale(1.1);
                }
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .top-cms-post-thumbnail {
        aspect-ratio: 8/5;
        margin-bottom: 20px;
        overflow: hidden;
        order: 1;

        img {
            transition: all .5s ease;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-thumbnail-text {
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--base_color);
        border-bottom: 1px solid var(--base_color);
    }

    .top-cms-post-link {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        img {
            object-fit: cover;
        }
    }

    .top-cms-post-cat {
        color: var(--text_color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 15px;
        border: 1px solid;
        border-color: var(--text_color);
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: 700;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            &::after {
                display: none;
            }
        }
    }

    .top-cms-post-date {
        font-size: 1.2rem;
        font-weight: 700;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        padding-inline: 20px;
        padding-bottom: 20px;
        order: 2;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

}

/*  -----------------------------------------------------------------------------------------------
    news-c-normal00
 ----------------------------------------------------------------------------------------------- */
.news-c-normal00-wrapper {
    margin-bottom: 80px;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-c-normal00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 112px auto;
        grid-template-areas:
            "cms_title cms_link"
            "cms_list cms_list";
        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
        }

        @include m.mq(tab) {
            gap: 10px;
        }

        @include m.mq(sp) {
            gap: 0;
        }
    }

    .top-cms-title {
        grid-area: cms_title;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 1;
            width: 100%;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .section__block__title {
            display: flex;
            align-items: flex-start;
        }
    }

    .top-cms-cat {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-link {
        grid-area: cms_link;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 3;
            margin-top: 30px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-content {
        grid-area: cms_list;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 2;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-list.tab-panel {
        display: none;
        flex-wrap: wrap;
        gap: 60px 40px;
        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            gap: 50px 30px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            gap: 40px;
            max-width: 100%;
        }

        &.--active {
            display: flex;
        }
    }

    .top-cms-post {
        width: calc(calc(100% - 80px) / 3);
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "post__thumbnail post__thumbnail"
            "post__title post__title"
            "post__cat post__date";
        gap: 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: calc(calc(100% - 30px) / 2);
        }

        @include m.mq(tab) {
            width: 100%;
        }

        @include m.mq(sp) {
            gap: 15px;
        }
    }

    .top-cms-post-link {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
        @include v.borderRadius;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .top-cms-post-thumbnail {
        grid-area: post__thumbnail;
        aspect-ratio: 47 / 25;
        border-radius: 4px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-cat {
        grid-area: post__cat;
        width: fit-content;


        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .cat {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }

        a {
            padding: 3px 20px;
            border-radius: 50px;
            background-color: var(--base_color);
            line-height: 1.5;

            &::after {
                display: none;
            }

            @include m.mq(pc) {}

            @include m.mq(miniPc) {
                padding: 3px 10px;
            }

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .top-cms-post-date {
        grid-area: post__date;
        display: flex;
        align-items: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        grid-area: post__title;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    news-d-normal00
 ----------------------------------------------------------------------------------------------- */
.news-d-normal00-wrapper {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-d-normal00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 98px 377px auto;
        grid-template-areas:
            "cms_title cms_link"
            "cms_list cms_list"
            "cms_list cms_list";
        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            @include v.columnFlex;
            gap: 25px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-title {
        grid-area: cms_title;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 1;
            width: 100%;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .section__block__title {
            align-items: flex-start;
            padding-bottom: 0;
        }
    }

    .top-cms-cat {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-cat-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .children {
            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }

        .tab-panel {
            display: none;
        }
    }

    .top-cms-link {
        grid-area: cms_link;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 100%;
            order: 3;

            .c-btn {
                margin: 0 auto;
            }
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-content {
        grid-area: cms_list;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 100%;
            order: 2;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-list {
        width: 100%;
        @include v.columnFlex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &.tab-panel {
            display: none;
        }
    }

    .top-cms-list.tab-panel.--active {
        display: flex;
    }

    .top-cms-post {
        border-top: 1px solid var(--base_color);
        padding: 20px 0;
        width: 100%;
        display: grid;
        gap: 0 35px;
        grid-template-columns: 536px 640px;
        grid-template-rows: 274px 34px;
        grid-template-areas:
            "post__thumbnail post__title"
            "post__thumbnail post__date";
        position: relative;

        @include m.mq(pc) {
            grid-template-columns: 536px 528px;
        }

        @include m.mq(miniPc) {
            width: 100%;
            height: auto;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &:hover {
            img {
                transition: all 0.3s;
                opacity: 0.8;
                filter: blur(2px);
            }
        }
    }

    .top-cms-post-thumbnail {
        grid-area: post__thumbnail;
        width: 524px;
        height: 308px;
        background-color: var(--bg_color);
        @include v.borderRadius;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 100%;
            height: 300px;
            aspect-ratio: 2 / 1;
            order: 1;
        }

        @include m.mq(tab) {
            height: auto;
        }

        @include m.mq(sp) {}

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .top-cms-post-link {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .top-cms-post-cat {
        position: absolute;
        top: 35px;
        right: 991px;
        color: var(--base_color);
        display: block;
        padding: 0 10px;
        border: 1px solid;
        border-color: var(--text_color);
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: 700;

        @include m.mq(pc) {
            right: 591px;
        }

        @include m.mq(miniPc) {
            right: 15px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            &::after {
                display: none;
            }
        }
    }

    .top-cms-post-date {
        grid-area: post__date;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 3;
            margin-top: auto;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        grid-area: post__title;
        font-size: 2.4rem;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 2;
            font-size: 2.0rem;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            font-size: 1.6rem;
            line-height: 1.5;
        }

        .top-cms-post-link {
            @include m.mq(miniPc) {
                height: 150px;
            }

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }
}

/*  -----------------------------------------------------------------------------------------------
    news-e-normal00
 ----------------------------------------------------------------------------------------------- */
.news-e-normal00-wrapper {

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-e-normal00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 360px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "cms_title cms_list"
            "cms_link cms_list";
        @include v.conWidth;

        @include m.mq(pc) {
            grid-template-columns: 300px auto;
        }

        @include m.mq(miniPc) {
            display: flex;
            flex-direction: column;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-title {
        grid-area: cms_title;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            order: 1;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        .section__block__title {
            align-items: flex-start;
        }
    }

    .top-cms-cat {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-content {
        display: flex;
        overflow-x: auto;
        grid-area: cms_list;
        width: calc(100vw - calc(390px + calc(calc(100vw - 1500px)/2)));
        margin-right: calc((calc(100vw - 1500px)/-2)); // 追加：右マージンをネガティブに設定

        @include m.mq(pc) {
            width: calc(100vw - calc(330px + calc(calc(100vw - 1100px)/2)));
            margin-right: calc((calc(100vw - 1100px)/-2)); // 追加
        }

        @include m.mq(miniPc) {
            width: calc(100vw - calc(calc(100vw - 800px)/2));
            margin-right: calc((calc(100vw - 800px)/-2)); // 追加
            order: 2;
        }

        @include m.mq(tab) {
            width: calc(100vw - calc(calc(100vw - 540px)/2));
            margin-right: calc((calc(100vw - 540px)/-2)); // 追加
        }

        @include m.mq(sp) {
            width: 95vw;
            margin-right: -2.5vw; // 追加
        }
    }

    .top-cms-cat-list {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .top-cms-link {
        grid-area: cms_link;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            justify-content: center;
            align-items: center;
            order: 3;
            margin-top: 30px;
        }

        @include m.mq(tab) {
            .c-btn {
                margin: 0 auto;
            }
        }

        @include m.mq(sp) {}


    }

    .top-cms-list {
        &.tab-panel {
            display: none;
        }
    }

    .top-cms-list.tab-panel.--active {
        display: flex;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .news-e-normal00 {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post {
        width: 432px;
        height: 512px;
        margin: 0 20px;
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-left: 0px;
        }

        @include m.mq(pc) {
            width: 300px;
            height: 413px;
        }

        @include m.mq(miniPc) {
            width: 300px;
            height: 406px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            width: 250px;
            height: 360px;
            margin: 0 15px;
        }

        &:hover {
            img {
                transition: all 0.3s;
                transform: scale(1.2);
            }
        }
    }

    .top-cms-post-thumbnail {
        margin-bottom: 22px;
        width: 100%;
        height: 432px;
        order: 1;
        overflow: hidden;

        @include m.mq(pc) {
            height: 300px;
        }

        @include m.mq(miniPc) {
            margin-bottom: 20px;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {
            height: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .top-cms-post-link {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .top-cms-post-cat {
        order: 3;
        color: var(--base_color);
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        a {
            padding: 3px 28px;
            border-radius: 20px;
            border: 1px solid;
            border-radius: 20px;

            &::after {
                display: none;
            }
        }
    }

    .top-cms-post-date {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        font-size: 1.8rem;
        font-weight: 600;
        order: 2;

        @include m.mq(pc) {
            height: 67px;
        }

        @include m.mq(miniPc) {
            font-size: 1.6rem;
        }

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
news-f-normal00
----------------------------------------------------------------------------------------------- */
.news-f-normal00-wrapper {
    width: 100%;

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-f-normal00 {
        width: 96%;
        max-width: v.$pcWidth;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {
            width: 800px;
        }

        @include m.mq(tab) {
            width: 540px;
        }

        @include m.mq(sp) {
            width: 90%;
        }
    }

    .top-cms-title {
        order: 1;
        text-align: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-cat {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-cat-list {
        display: flex;
        gap: 20px;

        a {

            &.--active {

                &::before {}
            }
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {


            a {

                &.--active {


                    &::before {}
                }
            }
        }

        @include m.mq(sp) {}

        .children {
            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .top-cms-link {
        order: 3;
        display: flex;
        justify-content: center;
        margin-top: 30px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            margin-top: 20px;
        }

        @include m.mq(sp) {}
    }

    .top-cms-content {
        order: 2;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-list {
        &.tab-panel {
            display: none;
        }

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

        &.tab-panel.--active {
            display: block;
        }
    }

    .top-cms-post {
        display: flex;
        align-items: center;
        gap: 30px;
        border-top: 1px solid var(--base_color);
        padding: 20px;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            flex-wrap: wrap;
            gap: 15px 0;
            justify-content: space-between;
        }

        @include m.mq(sp) {
            gap: 10px 0;
            padding: 20px 10px;
        }

        &:last-of-type {
            border-bottom: 1px solid var(--base_color);
        }

        &+.newsFN00__post {}

        img {}

        &:hover {
            img {}

            .newsFN00__post__title a {}
        }
    }

    .top-cms-post-thumbnail {
        display: none;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}

    }

    .top-cms-post-link {

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {}

        @include m.mq(sp) {}
    }

    .top-cms-post-cat {
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 50%;
            justify-content: flex-start;
            order: 1;
        }

        @include m.mq(sp) {}

        a {
            font-size: 1.2rem;
            display: block;
            text-align: center;
            line-height: 20px;
            min-width: 100px;
            background-color: var(--main_color);
            color: #fff;
            padding: 0 20px;
            border-radius: 2px;

            &::after {
                display: none;
            }

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }
    }

    .top-cms-post-date {
        order: 1;
        font-size: 1.2rem;
        font-weight: 700;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            order: 2;
        }

        @include m.mq(sp) {}
    }

    .top-cms-post-title {
        order: 3;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            width: 100%;
        }

        @include m.mq(sp) {}
    }
}

/*  -----------------------------------------------------------------------------------------------
    news-g-normal00
 ----------------------------------------------------------------------------------------------- */
.news-g-normal00-wrapper {
    background-color: var(--base_color);

    @include m.mq(pc) {}

    @include m.mq(miniPc) {}

    @include m.mq(tab) {}

    @include m.mq(sp) {}

    .news-g-normal00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 300px calc(100% - calc(300px + 30px));
        grid-template-rows: 300px 100px auto;
        grid-template-areas:
            "cms_title cms_list"
            "cms_link cms_list";

        @include v.conWidth;

        @include m.mq(pc) {}

        @include m.mq(miniPc) {}

        @include m.mq(tab) {
            @include v.columnFlex;
            gap: 20px;
        }

        @include m.mq(sp) {}
    }

    .news-g-normal00 {
        gap: 30px;
        display: grid;
        grid-template-columns: 300px calc(100% - calc(300px + 30px));
        grid-template-rows: auto auto;
        grid-template-areas:
            "cms_title cms_list"
            "cms_link cms_list";

        .news-g-normal00 {
            gap: 30px;
            display: grid;
            grid-template-columns: 300px calc(100% - calc(300px + 30px));
            grid-template-rows: auto auto;
            grid-template-areas:
                "cms_title cms_list"
                "cms_link cms_list";

            @include v.conWidth;
            @include v.conWidth;

            @include m.mq(pc) {}

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                @include v.columnFlex;
                gap: 20px;
            }

            @include m.mq(tab) {
                @include v.columnFlex;
                gap: 20px;
            }

            @include m.mq(sp) {}
        }

        @include m.mq(sp) {}

        .top-cms-title {
            grid-area: cms_title;


            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                order: 1;
                width: 100%;
            }

            @include m.mq(sp) {}
        }

        .top-cms-cat {

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }

        .top-cms-cat-list {

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}

            .children {
                @include m.mq(pc) {}

                @include m.mq(miniPc) {}

                @include m.mq(tab) {}

                @include m.mq(sp) {}
            }
        }

        .top-cms-link {
            grid-area: cms_link;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                order: 3;
            }

            @include m.mq(sp) {}
        }

        .top-cms-content {
            grid-area: cms_list;
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                order: 2;
                border-top: 1px solid var(--base_color);
                width: 100%;
                margin-bottom: 20px;
            }

            @include m.mq(sp) {}
        }

        .top-cms-list {

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }

        .top-cms-post {
            background-color: #fff;
            border-radius: 6px;
            display: flex;
            gap: 30px;
            padding: 15px 30px;
            position: relative;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                gap: 10px;
            }

            @include m.mq(sp) {
                display: grid;
                justify-content: space-between;
                grid-template-rows: auto auto;
                grid-template-columns: auto auto;
                grid-template-areas:
                    "date cat"
                    "title title";
            }

            img {
                transition: all 0.3s;
            }

            &:hover {
                img {
                    transition: all 0.3s;
                    transform: scale(1.2);
                }

                .newsGN00__post__title a {
                    transition: all 0.3s;
                    color: var(--main_color);
                }
            }
        }

        .top-cms-post-thumbnail {
            grid-area: post__thumbnail;
            width: 100%;
            height: 100%;
            overflow: hidden;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .top-cms-post-link {

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {}
        }

        .top-cms-post-cat {

            order: 2;
            display: flex;
            align-items: center;
            line-height: 1;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {
                grid-area: cat;
                justify-content: flex-end;
            }

            a {
                border: none;
                color: var(--accent_color);

                &::after {
                    display: none;
                }

                @include m.mq(sp) {
                    padding: 0;
                }
            }
        }

        .top-cms-post-date {
            display: flex;
            align-items: center;
            order: 1;
            color: var(--main_color);
            line-height: 1;
            font-size: calc(var(--font_size_PC) * .8);

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {
                font-size: calc(var(--font_size_TAB) * .8);
            }

            @include m.mq(sp) {
                grid-area: date;
                justify-content: flex-start;
                font-size: calc(var(--font_size_SP) * .8);
            }
        }

        .top-cms-post-title {
            order: 3;
            flex: 1;
            width: 100%;

            @include m.mq(pc) {}

            @include m.mq(miniPc) {}

            @include m.mq(tab) {}

            @include m.mq(sp) {
                grid-area: title;
            }

            // &::before {
            //     position: absolute;
            //     content: "";
            //     width: 6px;
            //     height: 6px;
            //     top: 50%;
            //     right: 42px;
            //     transform: translateY(-50%) rotate(45deg);
            //     border-top: 1px solid var(--main_color);
            //     border-right: 1px solid var(--main_color);

            //     @include m.mq(pc) {}

            //     @include m.mq(miniPc) {}

            //     @include m.mq(tab) {
            //         right: 32px;
            //     }

            //     @include m.mq(sp) {
            //         display: none;
            //     }
            // }

            // &::after {
            //     position: absolute;
            //     content: "";
            //     width: 12px;
            //     height: 1px;
            //     top: 50%;
            //     right: 42px;
            //     transform: translateY(-50%);
            //     background-color: var(--main_color);

            //     @include m.mq(pc) {}

            //     @include m.mq(miniPc) {}

            //     @include m.mq(tab) {
            //         right: 32px;
            //     }

            //     @include m.mq(sp) {
            //         display: none;
            //     }
            // }
        }
    }
}